Enrutador para Webhook.json
{
  "id": "tdjSWrSplaOfsfO4",
  "name": "Enrutador para Webhook",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "router-wa",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-64, 272],
      "id": "3c38cb3e-8572-401a-ba39-558ea266146b",
      "name": "Router Evolution API",
      "webhookId": "router-wa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-luis",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "54XXXXXXXXXX@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [160, 272],
      "id": "715109d0-04eb-41f3-add0-de0deb651fba",
      "name": "¿Es Luis?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-n8n-instance.example.com/webhook/asistente-financiero",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [384, 176],
      "id": "089b16e3-efa4-4d43-91e7-86882adc7ccc",
      "name": "→ Asistente Financiero"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-n8n-instance.example.com/webhook/WA-respuesta-secondary",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [384, 384],
      "id": "5b0daf88-69bd-4bf2-8d28-eefca81a005f",
      "name": "→ Secondary Flow"
    },
    {
      "parameters": {
        "content": "## 🔀 Router WhatsApp\n\nRecibe TODOS los mensajes de Evolution API.\nRedirige según el remitente:\n\n📱 Luis (54XXXXXXXXXX) → Asistente Financiero\n📱 Cualquier otro → Secondary Flow (otro caso de uso)\n\n⚠️ Configurar en Evolution API:\nURL: https://your-n8n-instance.example.com/webhook/router-wa\nEvento: messages.upsert",
        "height": 280,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-96, -128],
      "typeVersion": 1,
      "id": "8aa05628-9d5c-464f-a475-19e4d7ccad52",
      "name": "Info1"
    }
  ],
  "connections": {
    "Router Evolution API": {
      "main": [
        [{ "node": "¿Es Luis?", "type": "main", "index": 0 }]
      ]
    },
    "¿Es Luis?": {
      "main": [
        [{ "node": "→ Asistente Financiero", "type": "main", "index": 0 }],
        [{ "node": "→ Secondary Flow", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "pinData": {},
  "versionId": "131922d0-ff61-4aa9-ae23-3f018927f482",
  "_meta": {
    "exportedAt": "2026-04-20",
    "n8nVersion": "your-n8n-instance.example.com"
  }
}
