⏰ Alerta de Vencimientos.json
{
  "name": "⏰ Alerta de Vencimientos",
  "nodes": [
    {
      "parameters": {
        "content": "## ⏰ Alerta de Vencimientos\n\nSe ejecuta todos los días a las 9am.\nAvisa si hay pagos en los próximos 3 días.\n\n✅ Luis recibe mensaje individual\n✅ Gonzalo recibe en el grupo compartido\n✅ Si no hay vencimientos, el flujo termina limpio\n✅ Evolution API - sin costo por mensaje",
        "height": 380,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        3344
      ],
      "typeVersion": 1,
      "id": "cae19872-9c64-474c-8cfe-63e4ac4b14b9",
      "name": "Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1216,
        3088
      ],
      "id": "c9a690d7-5f1e-4348-8835-cb001b55206f",
      "name": "Todos los días 9am"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COALESCE(cg.icono, '📌') as icono, \n  gf.nombre as concepto, \n  gf.monto, \n  gf.moneda, \n  gf.dia_vencimiento, \n  CASE \n    WHEN gf.dia_vencimiento >= EXTRACT(DAY FROM CURRENT_DATE)::int \n    THEN gf.dia_vencimiento - EXTRACT(DAY FROM CURRENT_DATE)::int\n    ELSE gf.dia_vencimiento + EXTRACT(DAY FROM (DATE_TRUNC('month', CURRENT_DATE + INTERVAL '1 month') - INTERVAL '1 day'))::int - EXTRACT(DAY FROM CURRENT_DATE)::int\n  END as dias_restantes,\n  COALESCE(gf.es_compartido, FALSE) as es_compartido\nFROM finanzas_personales.gastos_fijos gf\nJOIN finanzas_personales.categorias_gasto cg ON gf.categoria_id = cg.id\nWHERE gf.activo = TRUE \n  AND gf.dia_vencimiento IS NOT NULL \n  AND (\n    -- Caso normal: vence en los próximos 3 días del mismo mes\n    gf.dia_vencimiento BETWEEN EXTRACT(DAY FROM CURRENT_DATE)::int \n                           AND LEAST(\n                             EXTRACT(DAY FROM CURRENT_DATE)::int + 3,\n                             EXTRACT(DAY FROM (DATE_TRUNC('month', CURRENT_DATE + INTERVAL '1 month') - INTERVAL '1 day'))::int\n                           )\n    OR (\n      -- Caso fin de mes: captura vencimientos del mes siguiente\n      EXTRACT(DAY FROM CURRENT_DATE)::int + 3 > EXTRACT(DAY FROM (DATE_TRUNC('month', CURRENT_DATE + INTERVAL '1 month') - INTERVAL '1 day'))::int\n      AND gf.dia_vencimiento <= (EXTRACT(DAY FROM CURRENT_DATE)::int + 3) - EXTRACT(DAY FROM (DATE_TRUNC('month', CURRENT_DATE + INTERVAL '1 month') - INTERVAL '1 day'))::int\n    )\n  )\nORDER BY \n  CASE \n    WHEN gf.dia_vencimiento >= EXTRACT(DAY FROM CURRENT_DATE)::int \n    THEN gf.dia_vencimiento - EXTRACT(DAY FROM CURRENT_DATE)::int\n    ELSE gf.dia_vencimiento + EXTRACT(DAY FROM (DATE_TRUNC('month', CURRENT_DATE + INTERVAL '1 month') - INTERVAL '1 day'))::int - EXTRACT(DAY FROM CURRENT_DATE)::int\n  END;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        3088
      ],
      "id": "8657cd87-61c5-4f8f-8c26-c94e2bc8679f",
      "name": "Vencimientos próximos 3 días",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $input.all().filter(item => item.json.concepto !== undefined && item.json.concepto !== null).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        3088
      ],
      "id": "c78b74e7-8803-43db-b6de-238fa2ad1952",
      "name": "¿Hay vencimientos?"
    },
    {
      "parameters": {
        "jsCode": "const vencimientos = $input.all().filter(item => item.json.concepto !== undefined && item.json.concepto !== null);\n\n// Mensaje Luis - con formato completo y saltos de línea\nlet mensajeLuis = '⏰ *Recordatorio de vencimientos*\\n\\nTenés pagos próximos:\\n\\n';\n\n// Mensaje Gonzalo - para el grupo\nlet mensajeGonzalo = '🏠 *Gastos del hogar*\\n\\nHola Gonza! Te paso lo que te corresponde pagar:\\n\\n';\n\nlet totalPesos = 0;\nlet totalUsd = 0;\nlet totalGonzalo = 0;\nlet hayCompartidos = false;\n\nfor (const item of vencimientos) {\n  const v = item.json;\n  const diasRestantes = Number(v.dias_restantes);\n  const diasTexto = diasRestantes === 0 ? '🔴 HOY' :\n                    diasRestantes === 1 ? '🟡 Mañana' :\n                    `📅 En ${diasRestantes} días`;\n\n  mensajeLuis += `${v.icono} *${v.concepto}*\\n`;\n  mensajeLuis += `   💰 ${v.moneda === 'USD' ? 'U$D' : '$'} ${Number(v.monto).toLocaleString('es-AR')}\\n`;\n  if (v.es_compartido) mensajeLuis += `   👥 Tu parte: $${(Number(v.monto) / 2).toLocaleString('es-AR')}\\n`;\n  mensajeLuis += `   ${diasTexto} (día ${v.dia_vencimiento})\\n\\n`;\n\n  if (v.moneda === 'USD') totalUsd += Number(v.monto);\n  else totalPesos += Number(v.monto);\n\n  if (v.es_compartido) {\n    hayCompartidos = true;\n    const montoGonzalo = Number(v.monto) / 2;\n    mensajeGonzalo += `${v.icono} *${v.concepto}*\\n`;\n    mensajeGonzalo += `   💰 $${montoGonzalo.toLocaleString('es-AR')}\\n`;\n    mensajeGonzalo += `   ${diasTexto} (día ${v.dia_vencimiento})\\n\\n`;\n    totalGonzalo += montoGonzalo;\n  }\n}\n\nmensajeLuis += '---\\n';\nif (totalPesos > 0) mensajeLuis += `Total ARS: $${totalPesos.toLocaleString('es-AR')}\\n`;\nif (totalUsd > 0) mensajeLuis += `Total USD: U$D ${totalUsd.toLocaleString('es-AR')}\\n`;\n\nif (hayCompartidos) {\n  mensajeGonzalo += `---\\n💵 *Tu total: $${totalGonzalo.toLocaleString('es-AR')}*\\n\\n`;\n  mensajeGonzalo += '📲 Alias: LMOLINARE3271.NX.ARS';\n}\n\nreturn { mensajeLuis, mensajeGonzalo, hayCompartidos };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        3088
      ],
      "id": "5e2fa7db-71b8-44a0-a62a-2f540df90e72",
      "name": "Construir mensaje"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MyAivaro",
        "remoteJid": "5493814690975",
        "messageText": "={{ $json.mensajeLuis }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2112,
        2992
      ],
      "id": "1784dc90-69cc-4f38-8d16-f046a4b6145b",
      "name": "Enviar WA Luis (Evolution)",
      "credentials": {
        "evolutionApi": {
          "id": "rGdgi31Sr5KvqJwd",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a752a4b4-cd94-4b69-a997-85ee006227bf",
              "leftValue": "={{ $json.hayCompartidos }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        3280
      ],
      "id": "3527fd88-0c1e-439a-ba9b-0646d1906dfd",
      "name": "¿Hay gastos compartidos?"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MyAivaro",
        "remoteJid": "5493814750821",
        "messageText": "={{ $('Construir mensaje').item.json.mensajeGonzalo }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2432,
        3152
      ],
      "id": "5de54c3e-79fa-4682-b119-7097d246a745",
      "name": "Enviar grupo Gonzalo (Evolution)",
      "credentials": {
        "evolutionApi": {
          "id": "rGdgi31Sr5KvqJwd",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Todos los días 9am": {
      "main": [
        [
          {
            "node": "Vencimientos próximos 3 días",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vencimientos próximos 3 días": {
      "main": [
        [
          {
            "node": "¿Hay vencimientos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay vencimientos?": {
      "main": [
        [
          {
            "node": "Construir mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir mensaje": {
      "main": [
        [
          {
            "node": "Enviar WA Luis (Evolution)",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Hay gastos compartidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay gastos compartidos?": {
      "main": [
        [
          {
            "node": "Enviar grupo Gonzalo (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "availableInMCP": false
  },
  "versionId": "415a9540-0428-4b68-8413-bee854231d95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b42fd32e6f340260e7c3102f964d10a6ec4faa1c313419e6f443ee442339754"
  },
  "id": "i4UjW2gGbV5nJ64h",
  "tags": []
}