💪🏽 Liquidacion Mensual.json
{
  "name": "💪🏽 Liquidacion Mensual",
  "nodes": [
    {
      "parameters": {
        "content": "## 💰 Liquidación Mensual\n\n**Día 10:** Calcula cuánto pedirle a Juan\ny cuánto reservar para Galicia del mes siguiente.\nAvisa el CVU de Mercado Pago.\n\n**Día 5:** Recordatorio para pagar Galicia.\n\nFlujo diseñado como MVP vendible:\n- TC automático desde BD\n- Ingreso variable por mes de contrato\n- Reserva inteligente por tarjeta",
        "height": 300,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -32
      ],
      "typeVersion": 1,
      "id": "2048eaa8-7b58-43f9-bce9-7eb12473a1a0",
      "name": "Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 10,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        336
      ],
      "id": "4ff1ec6f-faef-4e0b-8e49-7eb1a46e576e",
      "name": "Día 10 — Liquidación"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 5,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        720
      ],
      "id": "e05001a8-fd3b-44f5-9645-3259973665f7",
      "name": "Día 5 — Recordatorio Galicia"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  finanzas_personales.obtener_tc() as tc,\n  -- Ingreso USD desde BD, con lógica de monto_proximo\n  COALESCE((\n    SELECT SUM(\n      CASE\n        WHEN fecha_proximo_aumento IS NOT NULL\n         AND fecha_proximo_aumento <= CURRENT_DATE\n         AND monto_proximo IS NOT NULL\n        THEN monto_proximo\n        ELSE monto\n      END\n    )\n    FROM finanzas_personales.ingresos\n    WHERE activo = TRUE AND moneda = 'USD'\n  ), 0) as ingreso_usd,\n  (SELECT COALESCE(SUM(monto_cuota), 0) FROM finanzas_personales.compromisos_tarjeta WHERE activo = TRUE AND tarjeta IN ('CREDITO_GALICIA', 'DEBITO_GALICIA') AND fecha_fin >= DATE_TRUNC('month', CURRENT_DATE)::date) as cuotas_galicia_actual,\n  (SELECT COALESCE(SUM(monto_cuota), 0) FROM finanzas_personales.compromisos_tarjeta WHERE activo = TRUE AND tarjeta IN ('CREDITO_NARANJA', 'DEBITO_NARANJA') AND fecha_fin >= DATE_TRUNC('month', CURRENT_DATE)::date) as cuotas_naranja_actual,\n  (SELECT COALESCE(SUM(CASE WHEN cuota_actual < total_cuotas THEN monto_cuota ELSE 0 END), 0) FROM finanzas_personales.compromisos_tarjeta WHERE activo = TRUE AND tarjeta IN ('CREDITO_GALICIA', 'DEBITO_GALICIA')) as cuotas_galicia_proximo,\n  (SELECT COALESCE(SUM(CASE WHEN moneda = 'ARS' THEN monto WHEN moneda = 'USD' THEN monto * finanzas_personales.obtener_tc() ELSE 0 END), 0) FROM finanzas_personales.gastos_fijos WHERE activo = TRUE AND es_compartido = FALSE) as gastos_fijos_propios,\n  (SELECT COALESCE(SUM(CASE WHEN moneda = 'ARS' THEN monto / 2 WHEN moneda = 'USD' THEN (monto / 2) * finanzas_personales.obtener_tc() ELSE 0 END), 0) FROM finanzas_personales.gastos_fijos WHERE activo = TRUE AND es_compartido = TRUE) as gastos_fijos_compartidos;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        336
      ],
      "id": "53ee9a66-ffd2-4e79-b55b-10784f339928",
      "name": "Consultar datos BD",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst TC = Number(d.tc);\n\n// Ingreso USD desde BD (con monto_proximo si corresponde)\nconst ingresoUSD = Number(d.ingreso_usd);\nconst ingresoARS = ingresoUSD * TC;\n\nconst cuotasGalicia = Number(d.cuotas_galicia_actual);\nconst cuotasNaranja = Number(d.cuotas_naranja_actual);\nconst gastosFijos = Number(d.gastos_fijos_propios) + Number(d.gastos_fijos_compartidos);\n// Valores operativos fijos (actualizar en BD configuracion cuando cambien)\nconst jorge = 20000;\nconst juanBuffer = 15000;\nconst colchon = 250000;\nconst reservaGalicia = Number(d.cuotas_galicia_proximo);\n\nconst totalARS = Math.round(\n  cuotasGalicia + cuotasNaranja + gastosFijos +\n  jorge + juanBuffer + colchon + reservaGalicia\n);\n\nconst usdTarjetas = 490;\nconst sobraARS = Math.round(ingresoARS - totalARS);\nconst sobraUSD = ingresoUSD - usdTarjetas;\n\nconst fmt = n => Math.round(Number(n)).toLocaleString('es-AR');\nconst mesesES = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst hoy = new Date();\nconst mesActual = mesesES[hoy.getMonth()];\nconst mesSiguiente = mesesES[(hoy.getMonth() + 1) % 12];\n\nconst cvu = '0000003100037318678144';\nconst alias = 'luismolinareinoso.mp';\n\nlet msg = `💰 *LIQUIDACIÓN ${mesActual.toUpperCase()}*\\n`;\nmsg += `━━━━━━━━━━━━━━━━\\n\\n`;\nmsg += `💵 U$D ${fmt(ingresoUSD)} × $${fmt(TC)} = *$${fmt(ingresoARS)}*\\n\\n`;\nmsg += `📋 *PEDIRLE A JUAN*\\n`;\nmsg += `→ ARS: *$${fmt(totalARS)}*\\n`;\nmsg += `→ USD (tarjetas): *U$D ${usdTarjetas}*\\n\\n`;\nmsg += `📊 *DETALLE*\\n`;\nmsg += `🏦 Galicia: $${fmt(cuotasGalicia)}\\n`;\nmsg += `🟠 Naranja: $${fmt(cuotasNaranja)}\\n`;\nmsg += `📌 Gastos fijos: $${fmt(gastosFijos)}\\n`;\nmsg += `👨‍💼 Jorge + Juan est.: $${fmt(jorge + juanBuffer)}\\n`;\nmsg += `🛒 Colchón operativo: $${fmt(colchon)}\\n`;\nmsg += `📦 Reserva Galicia ${mesSiguiente}: $${fmt(reservaGalicia)}\\n\\n`;\nmsg += `💎 *JUAN INVIERTE*\\n`;\nmsg += sobraARS > 0 ? `→ ARS: $${fmt(sobraARS)}\\n` : `→ ARS: ⚠️ Sin excedente\\n`;\nmsg += `→ USD extra: U$D ${sobraUSD}\\n\\n`;\nmsg += `🏦 *TRANSFERÍ HOY A MP*\\n`;\nmsg += `Reserva Galicia ${mesSiguiente}: *$${fmt(reservaGalicia)}*\\n`;\nmsg += `CVU: \\`${cvu}\\`\\n`;\nmsg += `Alias: \\`${alias}\\`\\n\\n`;\nmsg += `━━━━━━━━━━━━━━━━\\n`;\nmsg += `💡 _Copiá el bloque de Juan y mandáselo._`;\n\nreturn { mensaje: msg, reserva_galicia: reservaGalicia, mes_siguiente: mesSiguiente, tc: TC, ingreso_usd: ingresoUSD };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        336
      ],
      "id": "a4b1c490-a31d-4917-9298-a2178e5c89da",
      "name": "Calcular liquidación"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MyAivaro",
        "remoteJid": "5493814690975",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        800,
        336
      ],
      "id": "e2a8ca01-dec6-4e01-a754-a88c6a1428f6",
      "name": "Enviar liquidación (Evolution)",
      "credentials": {
        "evolutionApi": {
          "id": "rGdgi31Sr5KvqJwd",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(SUM(monto_cuota), 0) as reserva_galicia\nFROM finanzas_personales.compromisos_tarjeta\nWHERE activo = TRUE\nAND tarjeta IN ('CREDITO_GALICIA', 'DEBITO_GALICIA')\nAND cuota_actual < total_cuotas;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        720
      ],
      "id": "4263ac00-87a8-4a0c-80f7-00844e71428e",
      "name": "Consultar reserva Galicia",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reserva = Number($input.first().json.reserva_galicia);\nconst fmt = n => Math.round(Number(n)).toLocaleString('es-AR');\nconst cvu = '0000003100037318678144';\nconst alias = 'luismolinareinoso.mp';\n\nlet msg = `🔔 *RECORDATORIO — GALICIA MAÑANA*\\n\\n`;\nmsg += `Mañana vence tu Mastercard Galicia.\\n`;\nmsg += `Tenés reservados *$${fmt(reserva)}* en Mercado Pago.\\n\\n`;\nmsg += `✅ Transferí hoy a Galicia antes del cierre bancario.\\n\\n`;\nmsg += `MP Alias: \\`${alias}\\``;\n\nreturn { mensaje: msg };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        720
      ],
      "id": "0c9ff38d-a5f5-4310-8eae-ed4ea8d66b21",
      "name": "Armar recordatorio Galicia"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MyAivaro",
        "remoteJid": "5493814690975",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        800,
        720
      ],
      "id": "0469502a-29a0-493b-a393-58de459e5191",
      "name": "Enviar recordatorio (Evolution)",
      "credentials": {
        "evolutionApi": {
          "id": "rGdgi31Sr5KvqJwd",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Día 10 — Liquidación": {
      "main": [
        [
          {
            "node": "Consultar datos BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar datos BD": {
      "main": [
        [
          {
            "node": "Calcular liquidación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular liquidación": {
      "main": [
        [
          {
            "node": "Enviar liquidación (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Día 5 — Recordatorio Galicia": {
      "main": [
        [
          {
            "node": "Consultar reserva Galicia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar reserva Galicia": {
      "main": [
        [
          {
            "node": "Armar recordatorio Galicia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar recordatorio Galicia": {
      "main": [
        [
          {
            "node": "Enviar recordatorio (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "538e5a11-3ede-40c4-939a-33b41c561870",
  "meta": {
    "instanceId": "3b42fd32e6f340260e7c3102f964d10a6ec4faa1c313419e6f443ee442339754"
  },
  "id": "tOIUMX5OmJc5w05N",
  "tags": []
}