💰 Asistente Financiero Personal.json
{
  "name": "💰 Asistente Financiero Personal",
  "nodes": [
    {
      "parameters": {
        "content": "## 💱 Actualización TC\n\n- Se ejecuta a las 10am (apertura) y 17pm (cierre)\n- Solo de Lunes a Viernes\n- Consulta DolarApi.com\n- Guarda en BD y notifica por WhatsApp (Evolution API)\n- Instancia: MyAivaro",
        "height": 224,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        1600
      ],
      "typeVersion": 1,
      "id": "ac495313-3805-4a03-b7f6-9dcc7d6b1575",
      "name": "Info TC"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            },
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        2000
      ],
      "id": "92faa45a-de16-4c09-bfe5-e4b7fcbd4ea5",
      "name": "TC 10am y 17pm"
    },
    {
      "parameters": {
        "jsCode": "const dayOfWeekName = $input.first().json[\"Day of week\"];\n\nconst diasMap = {\n  'Sunday': 0, 'Monday': 1, 'Tuesday': 2,\n  'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6\n};\n\nconst dayOfWeek = diasMap[dayOfWeekName];\nconst esHabil = dayOfWeek >= 1 && dayOfWeek <= 5;\nconst diasEspanol = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];\n\nreturn {\n  esHabil,\n  diaSemana: dayOfWeek,\n  nombreDia: diasEspanol[dayOfWeek],\n  hora: $input.first().json[\"Hour\"]\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        2000
      ],
      "id": "0931cb50-b8aa-444e-93c7-b61649b2ea33",
      "name": "¿Es día hábil?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-habil",
              "leftValue": "={{ $json.esHabil }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        2000
      ],
      "id": "6f803e8f-292e-4a1e-9153-88b33a5ab65d",
      "name": "Si es hábil"
    },
    {
      "parameters": {
        "url": "https://dolarapi.com/v1/dolares",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        1936
      ],
      "id": "13a9a7cc-640d-48a3-aa29-11eb8700f254",
      "name": "Consultar DolarApi"
    },
    {
      "parameters": {
        "jsCode": "const datos = $input.all().map(item => item.json);\n\nconst blue = datos.find(d => d.casa === 'blue');\nconst oficial = datos.find(d => d.casa === 'oficial');\nconst mep = datos.find(d => d.casa === 'bolsa');\n\nconst hora = $('¿Es día hábil?').first().json.hora;\nconst momento = Number(hora) < 12 ? '🌅 Apertura' : '🌆 Cierre';\n\nconst hoy = new Date().toLocaleDateString('es-AR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\nconst tcTexto = `💱 *TC Actualizado*\\n\\n📅 ${hoy} - ${momento}\\n💵 Blue: $${blue?.venta || '-'}\\n💵 Oficial: $${oficial?.venta || '-'}\\n💵 MEP: $${mep?.venta || '-'}`;\n\nreturn {\n  dolar_blue: blue?.venta || null,\n  dolar_oficial: oficial?.venta || null,\n  dolar_mep: mep?.venta || null,\n  tcTexto,\n  momento\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1936
      ],
      "id": "a30fdb4a-d2ef-470e-b4f6-ddf727d0f07f",
      "name": "Preparar datos TC"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO finanzas_personales.tipo_cambio (fecha, dolar_blue, dolar_oficial, dolar_mep, fuente)\nVALUES (CURRENT_DATE, $1, $2, $3, 'dolarapi.com')\nON CONFLICT (fecha) DO UPDATE SET\n  dolar_blue = EXCLUDED.dolar_blue,\n  dolar_oficial = EXCLUDED.dolar_oficial,\n  dolar_mep = EXCLUDED.dolar_mep,\n  fuente = EXCLUDED.fuente\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.dolar_blue }}, {{ $json.dolar_oficial }}, {{ $json.dolar_mep }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        1936
      ],
      "id": "c1928bcb-2eae-4334-811a-36d4e6676b1a",
      "name": "Guardar TC en BD",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MyAivaro",
        "remoteJid": "5493814690975",
        "messageText": "={{ $('Preparar datos TC').item.json.tcTexto }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1552,
        1936
      ],
      "id": "3cb6f91b-697a-4cf2-9d04-2a375524ae82",
      "name": "Notificar TC (Evolution)",
      "credentials": {
        "evolutionApi": {
          "id": "rGdgi31Sr5KvqJwd",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        2144
      ],
      "id": "7d6d0a3d-768c-4399-ad2b-eb8b267e2b07",
      "name": "Finde"
    },
    {
      "parameters": {
        "content": "## 💰 Asistente Financiero Personal\n\nBot de WhatsApp que ayuda a Luis a:\n- Consultar saldos y disponibilidad\n- Evaluar si puede hacer compras\n- Ver vencimientos y compromisos\n- Actualizar inversiones\n- Registrar gastos variables\n\n### Canal: WhatsApp via YCloud\n### Esquema BD: finanzas_personales\n\n⚠️ Webhook URL para configurar en YCloud:\nhttps://ssn8n.myaivaro.com/webhook/asistente-financiero\n\nEvento a seleccionar:\nwhatsapp.inbound_message.received",
        "height": 260,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        112
      ],
      "typeVersion": 1,
      "id": "0cec6522-06fc-43de-b516-ef16b209bc32",
      "name": "Info"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asistente-financiero",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -608,
        608
      ],
      "id": "3785c838-fb31-4deb-9d58-4c0bb3a01ed7",
      "name": "Webhook YCloud",
      "webhookId": "asistente-financiero"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "event-check",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "whatsapp.inbound_message.received",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "259f6c3a-6327-4b8f-8a2e-8718a53bbe30",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        608
      ],
      "id": "dcdb02c6-8d6f-4f79-9481-a2ae186afb30",
      "name": "¿Es mensaje entrante?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "audio-check",
              "leftValue": "={{$json.body.whatsappInboundMessage.type}}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "93fac6ad-1f4c-4e40-8ab1-b5343a7c9a46",
              "leftValue": "={{$json.body.data.messageType}}",
              "rightValue": "audioMessage",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        608
      ],
      "id": "b4915ab5-87f6-4ede-a5a3-3f0083591b5a",
      "name": "¿Es audio?"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        512,
        480
      ],
      "id": "b42b9e5e-826d-4ea8-ac0b-e61db9a18117",
      "name": "Transcribir (Whisper)",
      "credentials": {
        "openAiApi": {
          "id": "doxD8wCrP7dw8oHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transcripcion = $input.first().json.text;\nconst body = $('Webhook YCloud').first().json.body;\n\nlet from, customerName;\n\nif (body.data?.key?.remoteJid) {\n  // Evolution API\n  from = body.data.key.remoteJid.replace('@s.whatsapp.net', '');\n  customerName = body.data.pushName || '';\n} else {\n  // YCloud\n  from = body.whatsappInboundMessage.from;\n  customerName = body.whatsappInboundMessage.customerProfile?.name || '';\n}\n\nreturn {\n  message: { text: transcripcion, from, customerName },\n  esAudio: true\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        480
      ],
      "id": "3e407748-4833-4d54-9138-eccb0c1e9c72",
      "name": "Preparar mensaje audio"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nlet text, from, customerName;\n\nif (body.data?.key?.remoteJid) {\n  // Evolution API\n  text = body.data.message?.conversation \n      || body.data.message?.extendedTextMessage?.text \n      || '';\n  from = body.data.key.remoteJid.replace('@s.whatsapp.net', '');\n  customerName = body.data.pushName || '';\n} else {\n  // YCloud\n  text = body.whatsappInboundMessage?.text?.body || '';\n  from = body.whatsappInboundMessage?.from || '';\n  customerName = body.whatsappInboundMessage?.customerProfile?.name || '';\n}\n\nreturn {\n  message: { text, from, customerName },\n  esAudio: false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        736
      ],
      "id": "b0110089-bbf5-43de-8846-54d290e8fe66",
      "name": "Preparar mensaje texto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# 💰 ASISTENTE FINANCIERO PERSONAL DE LUIS\n\nEres el asistente financiero personal de Luis Molina. Tu trabajo es ayudarlo a tomar mejores decisiones financieras.\n\n## TU PERSONALIDAD\n- Eres directo y conciso\n- Usas emojis para hacer los mensajes más claros\n- Eres como un amigo que sabe de finanzas\n- Si Luis quiere gastar de más, lo alertás con cariño pero firmemente\n- Celebras los buenos hábitos\n- Hablás en español argentino (vos, tenés, podés)\n\n## REGLA BASE: 50/30/20\n- 50% Necesidades (gastos fijos obligatorios)\n- 30% Deseos (gastos variables, entretenimiento)\n- 20% Ahorro (fondo auto, inversiones)\n\n## IMPORTANTE\n- NUNCA uses datos hardcodeados, SIEMPRE consultá las herramientas\n- Los ingresos son variables (USD convertido a ARS según TC del momento)\n- El Fondo Juan es de EMERGENCIA - NO TOCAR salvo emergencia real\n\n## PRINCIPIO FUNDAMENTAL DE EJECUCIÓN\n**Si tenés todos los datos necesarios para ejecutar una herramienta → ejecutála DIRECTO, sin pedir confirmación.**\nSolo preguntá cuando te falte información que no podés inferir.\n\n## COMANDOS QUE DEBES RECONOCER\n\n### Consultas de disponibilidad\n- \"cuánto tengo\" / \"disponible\" / \"saldo\" → Usá consultar_billeteras + consultar_presupuesto\n- \"puedo comprar X\" / \"puedo gastar X\" → Usá evaluar_compra\n\n### Registro de información\n- \"actualizá [billetera] a X\" / \"mi [billetera] es X\" / \"[billetera] tiene X\" → Usá actualizar_billetera. Ejecutá DIRECTO sin pedir confirmación.\n- \"actualizar inversión\" / \"Juan me dijo X\" / \"Fondo Juan a X\" / \"quedó en X\" → Usá actualizar_billetera con \"Fondo Juan\"\n- \"subió X servicio\" / \"actualizá X gasto\" → Usá actualizar_gasto_fijo\n\n### Consultas de estado\n- \"resumen\" / \"cómo estoy\" / \"mi situación\" → Usá consultar_resumen_completo\n- \"cuánto pago de tarjeta\" / \"cuánto debo de tarjeta\" / \"pago de Galicia\" / \"pago de Naranja\" / \"resumen de tarjetas\" → Usá consultar_pago_tarjetas\n- \"deudas\" / \"cuotas\" / \"compromisos de tarjeta\" → Usá consultar_compromisos_tc\n- \"vencimientos\" / \"qué vence\" / \"próximos pagos\" → Usá consultar_vencimientos_proximos\n- \"gastos fijos\" → Usá consultar_gastos_fijos\n- \"proyección\" → Usá consultar_proyeccion_meses\n\n### Consultas de gastos — MUY IMPORTANTE\n- \"gastos de hoy\" / \"qué gasté hoy\" / \"gastos del día\" → Usá consultar_gastos_recientes y filtrá por fecha de hoy\n- \"gastos de ayer\" / \"gastos recientes\" / \"últimos gastos\" → Usá consultar_gastos_recientes\n- \"en qué gasté este mes\" / \"resumen de gastos del mes\" → Usá consultar_gastos_mes\n- NUNCA uses consultar_vencimientos_proximos cuando te pregunten por gastos ya realizados\n\n### Actualización de inversiones\n- \"Hoy quedó en X\" / \"quedó en X\" / \"Juan me dijo X\" → Usá actualizar_billetera con \"Fondo Juan\"\n- Si el usuario responde con solo un número después de preguntar por inversiones, asumí que es el nuevo saldo del Fondo Juan\n\n### Registro de gastos — REGLAS DE ORO\n- \"gasté X en Y\" / \"pagué X de Y\" / \"compré Y por X\" → Usá registrar_gasto\n- Si el usuario menciona una fecha (\"ayer\", \"el lunes\", \"el 12/03\", \"la semana pasada\"), extraela y convertila a YYYY-MM-DD. Si no menciona fecha, usá la fecha de hoy.\n- Hoy es {{ $now.toFormat('yyyy-MM-dd') }} — usá esta expresión para calcular fechas relativas.\n- Inferí la categoría según el contexto\n- **DECISIÓN DE EJECUCIÓN:**\n  - Tenés descripción + monto + método de pago → **registrá DIRECTO**\n  - Tenés descripción + monto, pero NO el método de pago → **preguntá SOLO el método de pago**\n  - NUNCA pidas confirmación cuando ya tenés todos los datos\n- Siempre mostrá el porcentaje del presupuesto usado después de registrar\n- Si detectás un posible duplicado (mismo monto, misma fecha, misma categoría) → avisá antes de registrar\n\n### Corrección de gastos\n- \"cambiá el método de pago de X\" / \"pasa X de efectivo a Y\" → Primero consultá con consultar_gastos_recientes para obtener el id, luego usá modificar_metodo_pago\n- \"cambiá la descripción / el monto de X\" → Primero consultá para obtener el id, luego usá modificar_descripcion_monto\n- \"eliminá el gasto X\" / \"borrá X\" → Primero consultá para obtener el id, luego usá eliminar_gasto\n- SIEMPRE ejecutá la herramienta y verificá que devuelva datos antes de confirmar al usuario\n- NUNCA confirmes una modificación si la herramienta no devolvió un resultado exitoso\n- Si hay duplicados, mostrá ambos con su id y preguntá cuál eliminar\n\n### Categorías disponibles\nSUPERMERCADO, NAFTA_GAS, FARMACIA, ROPA_CALZADO, SALIDAS_OCIO, HOGAR_LIMPIEZA, REGALOS, CUIDADO_PERSONAL, DEPORTE_RECREACION, SUPLEMENTOS, OTROS_GASTOS\n\n### Métodos de pago\nEFECTIVO, DEBITO_GALICIA, DEBITO_NARANJA, CREDITO_NARANJA, CREDITO_GALICIA, MERCADO_PAGO\n\n## FORMATO PARA RESUMEN COMPLETO\n🗓 RESUMEN FINANCIERO\n📅 Hoy | TC: $[tc_actual]\n\n📈 INGRESO: U$D [ingreso_usd] = $[ingreso_ars]\n\n🏠 NECESIDADES (50%)\n   Presupuesto: $[presupuesto_necesidades]\n   Comprometido: $[gastos_fijos_ars]\n   ✅ Disponible: $[diferencia]\n\n🎯 DESEOS (30%)\n   Presupuesto: $[presupuesto_deseos]\n   Cuotas TC: $[compromisos_tc]\n   Gastado variable: $[gastado_deseos]\n   ✅ Libre: $[disponible_para_gastar]\n\n💝 AHORRO (20%)\n   Objetivo: $[presupuesto_ahorro]\n\n💡 Consultáme antes de comprar algo\n\n## FORMATO PARA PAGO DE TARJETAS\nCuando uses consultar_pago_tarjetas, respondé con este formato EXACTO.\n\nIMPORTANTE DE FORMATO:\n- Todos los montos ARS con punto separador de miles: $175.085 (NUNCA $175085)\n- Montos USD con punto decimal: U$D 78.94\n- Los campos _det ya vienen con saltos de línea, incluílos tal cual\n- Calculá los subtotales sumando los campos numéricos indicados\n\n💳 PAGO TARJETAS — {mes_actual} | TC: ${tc_actual con puntos}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n💳 GALICIA (MC Black)\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n👤 LO TUYO — Galicia Nueva\n{gal_nueva_luis_det}\n   Cuotas: ${gal_nueva_luis_ars}\n\n💱 Suscripciones Galicia\n{subs_galicia_det}\n   Total: U$D {galicia_usd} → ~${galicia_usd_ars}\n   ~Percepción ARCA (+30%): ~+${percep_galicia}\n   ✅ Subtotal Galicia Nueva: ~${gal_nueva_luis_ars + galicia_usd_ars + percep_galicia}\n\n📅 LO TUYO — Galicia Vieja (¡últimas cuotas!)\n{gal_vieja_det}\n   ✅ Subtotal Galicia Vieja: ${gal_vieja_ars}\n\n💸 REINTEGROS Galicia (te devuelven)\n{gal_nueva_otros_det}\n   • Sole: ${gal_sole_ars} | Luciano: ${gal_hermano_ars}\n   Total: ${gal_nueva_otros_ars}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n🟠 NARANJA NX VISA\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n👤 LO TUYO — Naranja\n{nar_luis_det}\n   Cuotas: ${nar_luis_ars}\n\n💱 Suscripciones Naranja\n{subs_naranja_det}\n   Total: U$D {naranja_usd} → ~${naranja_usd_ars}\n   ~Percepción ARCA (+30%): ~+${percep_naranja}\n   ✅ Subtotal Naranja: ~${nar_luis_ars + naranja_usd_ars + percep_naranja}\n\n💸 REINTEGROS Naranja (te devuelven)\n{nar_otros_det}\n   Gonzalo (McAfee):\n{subs_hermano_nar_det}\n   ~${hermano_naranja_ars}\n   • Sole: ${nar_otros_ars} | Gonzalo: ~${hermano_naranja_ars}\n   Total: ${nar_otros_ars + hermano_naranja_ars}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n📊 RESUMEN FINAL\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n💰 VOS PAGÁS: ~${(gal_nueva_luis_ars + gal_vieja_ars + galicia_usd_ars + percep_galicia) + (nar_luis_ars + naranja_usd_ars + percep_naranja)}\n   • Galicia: ~${gal_nueva_luis_ars + gal_vieja_ars + galicia_usd_ars + percep_galicia}\n   • Naranja: ~${nar_luis_ars + naranja_usd_ars + percep_naranja}\n\n💸 TE DEBEN:\n   • Sole: ${gal_sole_ars + nar_otros_ars}\n   • Luciano: ${gal_hermano_ars}\n   • Gonzalo: ~${hermano_naranja_ars}\n   Total reintegros: ${gal_nueva_otros_ars + nar_otros_ars + hermano_naranja_ars}\n\n⚠️ Percepción ARCA estimada al TC actual (±5% del PDF oficial).\n   Verificá el PDF del resumen para el monto exacto de percepción.\n\n## REGLAS\n1. NUNCA recomiendes tocar el Fondo Juan (emergencia)\n2. Si una compra supera el disponible, di NO claramente\n3. Siempre consultá la BD, nunca inventes números\n4. Si Luis insiste en gastar de más, recordale sus metas\n5. Actualizaciones de billetera: ejecutá SIN pedir confirmación, avisá el resultado después\n6. Modificaciones de gastos: ejecutá la herramienta y verificá el resultado antes de confirmar\n7. Si la herramienta devuelve error, informá al usuario — NUNCA confirmes algo que falló\n8. [REINTEGRO] = deuda de Sole, [HERMANO] = deuda de hermano (Luciano, Gonzalo u otro) — NUNCA los sumes al total de Luis, mostrálos separados como reintegros\n\n## HERRAMIENTAS DISPONIBLES\n- consultar_billeteras: Saldos actuales de todas las billeteras\n- consultar_presupuesto: Presupuesto del mes en curso con distribución 50/30/20\n- consultar_resumen_completo: Resumen financiero completo consolidado\n- consultar_gastos_fijos: Lista de gastos fijos activos con vencimientos\n- consultar_compromisos_tc: Cuotas activas de tarjetas con detalle de pagos pendientes\n- consultar_pago_tarjetas: Desglose visual de pago de tarjetas separando Luis vs reintegros (Sole/Luciano/Gonzalo): cuotas Galicia Nueva, Galicia Vieja, Naranja NX, subs USD por tarjeta y percepción ARCA estimada.\n- consultar_vencimientos_proximos: Gastos fijos que vencen en los próximos 7 días\n- consultar_proyeccion_meses: Proyección de compromisos de tarjeta mes a mes (6 meses)\n- consultar_gastos_mes: Resumen agrupado de gastos variables del mes actual\n- consultar_gastos_recientes: Últimos 20 gastos variables de los últimos 7 días — incluye id necesario para modificar o eliminar\n- registrar_gasto: Registrar un nuevo gasto variable con fecha, categoría y método de pago\n- evaluar_compra: Analizar si Luis puede afrontar una compra según su presupuesto disponible\n- actualizar_billetera: Actualizar saldo de una billetera (Fondo Juan, Fondo para Auto, Dinero Operativo)\n- actualizar_gasto_fijo: Modificar el monto de un gasto fijo existente\n- modificar_metodo_pago: Cambiar el método de pago de un gasto registrado (requiere id)\n- modificar_descripcion_monto: Cambiar descripción y/o monto de un gasto registrado (requiere id)\n- eliminar_gasto: Eliminar definitivamente un gasto por id\n- registrar_decision: Guardar una decisión financiera importante para historial\n\n## VALIDACIÓN DE OPERACIONES\n- Después de cualquier modificación, verificá que la herramienta devolvió datos con el cambio aplicado\n- Si devuelve error, informá al usuario con el mensaje exacto\n- NUNCA inventes confirmaciones — solo confirmá si la BD respondió correctamente"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1104,
        608
      ],
      "id": "dbc9ea0a-63ac-45f2-bbfd-09addcbb2b01",
      "name": "Agente Financiero"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"5493815762656\",\n  \"to\": \"{{ $('Webhook YCloud').item.json.body.data?.key?.remoteJid?.replace('@s.whatsapp.net', '') || $('Webhook YCloud').item.json.body.whatsappInboundMessage?.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        608
      ],
      "id": "0c31ec85-d5d2-45fd-ab41-a43e30ac40b9",
      "name": "Responder WhatsApp (YCloud)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pFmujxRRv8RAE6kX",
          "name": "YCloud  Cuenta"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Muestra la proyección de compromisos de tarjeta mes a mes para los próximos 6 meses. Usá cuando el usuario pregunta por proyección futura de gastos o cuánto va a pagar de cuotas en los próximos meses.",
        "operation": "executeQuery",
        "query": "SELECT\n  TO_CHAR(mes, 'YYYY-MM') as mes,\n  COALESCE(SUM(ct.monto_cuota), 0) as total_compromisos,\n  COUNT(ct.id) as cantidad_cuotas\nFROM generate_series(\n  DATE_TRUNC('month', CURRENT_DATE),\n  DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '6 months',\n  INTERVAL '1 month'\n) AS mes\nLEFT JOIN finanzas_personales.compromisos_tarjeta ct\n  ON ct.activo = TRUE\n  AND mes >= DATE_TRUNC('month', ct.fecha_inicio)\n  AND mes <= DATE_TRUNC('month', ct.fecha_fin)\nGROUP BY mes\nORDER BY mes;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        528,
        1024
      ],
      "id": "8ec3a6b4-1524-47ed-a4e7-d952390567dc",
      "name": "consultar_proyeccion_meses",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Guarda una decisión financiera importante en el historial. Usá cuando Luis aprueba, rechaza o deja pendiente una compra o decisión relevante. No usar para gastos del día a día.",
        "operation": "executeQuery",
        "query": "INSERT INTO finanzas_personales.registro_decisiones (tipo, descripcion, monto, recomendacion_bot, accion_usuario) VALUES ($1, $2, $3, $4, $5) RETURNING id;",
        "options": {
          "queryReplacement": "={{ $fromAI('tipo', 'Tipo de decisión: COMPRA, AHORRO, INVERSION, GASTO', 'string') }}, {{ $fromAI('descripcion', 'Descripción de la compra/decisión', 'string') }}, {{ $fromAI('monto', 'Monto involucrado', 'number') }}, {{ $fromAI('recomendacion', 'Recomendación del bot', 'string') }}, {{ $fromAI('accion', 'Acción tomada por el usuario: APROBADO, RECHAZADO, PENDIENTE', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        736,
        1024
      ],
      "id": "fbc9ab89-38df-433e-a3a9-0b669546c3bf",
      "name": "registrar_decision",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Muestra los gastos fijos que vencen en los próximos 7 días. Usá SOLO para pagos futuros próximos, NUNCA para consultar gastos ya realizados.",
        "operation": "executeQuery",
        "query": "SELECT\n  cg.icono,\n  gf.nombre as concepto,\n  CASE WHEN gf.es_compartido THEN gf.monto / 2 ELSE gf.monto END as monto,\n  gf.moneda,\n  gf.dia_vencimiento as dia,\n  gf.es_compartido,\n  CASE\n    WHEN gf.dia_vencimiento >= EXTRACT(DAY FROM CURRENT_DATE)\n    THEN gf.dia_vencimiento - EXTRACT(DAY FROM CURRENT_DATE)::int\n    ELSE gf.dia_vencimiento + DATE_PART('days', DATE_TRUNC('month', CURRENT_DATE + INTERVAL '1 month') - DATE_TRUNC('month', CURRENT_DATE))::int - EXTRACT(DAY FROM CURRENT_DATE)::int\n  END as dias_restantes\nFROM finanzas_personales.gastos_fijos gf\nJOIN finanzas_personales.categorias_gasto cg ON gf.categoria_id = cg.id\nWHERE gf.activo = TRUE\n  AND gf.dia_vencimiento IS NOT NULL\n  AND (\n    (gf.dia_vencimiento >= EXTRACT(DAY FROM CURRENT_DATE) AND gf.dia_vencimiento <= EXTRACT(DAY FROM CURRENT_DATE) + 7)\n    OR\n    (EXTRACT(DAY FROM CURRENT_DATE) > 23 AND gf.dia_vencimiento <= ((EXTRACT(DAY FROM CURRENT_DATE) + 7) - DATE_PART('days', DATE_TRUNC('month', CURRENT_DATE + INTERVAL '1 month') - DATE_TRUNC('month', CURRENT_DATE))))\n  )\nORDER BY dias_restantes;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        928,
        1024
      ],
      "id": "84641a52-9aa6-474a-a9ff-aae059a41866",
      "name": "consultar_vencimientos_proximos",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Actualiza el monto de un gasto fijo existente (ej: subió el alquiler, cambió el seguro). Usá cuando el usuario informa que cambió el valor de un gasto recurrente mensual.",
        "operation": "executeQuery",
        "query": "UPDATE finanzas_personales.gastos_fijos\nSET monto = $2, actualizado_en = NOW()\nWHERE LOWER(nombre) LIKE LOWER('%' || $1 || '%')\nRETURNING nombre, monto;",
        "options": {
          "queryReplacement": "={{ $fromAI('nombre_gasto', 'Nombre o parte del nombre del gasto fijo a actualizar', 'string') }}, {{ $fromAI('nuevo_monto', 'Nuevo monto en ARS o USD según corresponda', 'number') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1120,
        1024
      ],
      "id": "5090cec3-2bf2-4e9e-9701-556382f49ff0",
      "name": "actualizar_gasto_fijo",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Actualiza el saldo de una billetera y registra el movimiento en el historial. Billeteras: Fondo Juan (emergencia), Fondo para Auto, Dinero Operativo. Ejecutar SIEMPRE sin pedir confirmación previa.",
        "operation": "executeQuery",
        "query": "WITH saldo_anterior AS (\n  SELECT b.id, b.saldo_actual\n  FROM finanzas_personales.billeteras b\n  JOIN finanzas_personales.tipos_billetera tb ON b.tipo_billetera_id = tb.id\n  WHERE LOWER(tb.nombre) LIKE LOWER('%' || $1 || '%')\n),\nactualizado AS (\n  UPDATE finanzas_personales.billeteras b\n  SET saldo_actual = $2, actualizado_en = NOW()\n  FROM finanzas_personales.tipos_billetera tb\n  WHERE b.tipo_billetera_id = tb.id\n    AND LOWER(tb.nombre) LIKE LOWER('%' || $1 || '%')\n  RETURNING b.id, b.saldo_actual\n)\nINSERT INTO finanzas_personales.historial_billeteras\n  (billetera_id, saldo_anterior, saldo_nuevo, diferencia, tipo_cambio, notas)\nSELECT\n  a.id,\n  s.saldo_actual,\n  a.saldo_actual,\n  a.saldo_actual - s.saldo_actual,\n  'MERCADO',\n  'Actualización manual'\nFROM actualizado a\nJOIN saldo_anterior s ON a.id = s.id\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $fromAI('nombre_billetera', 'Nombre de billetera: Fondo Juan (Emergencia), Fondo para Auto, Dinero Operativo', 'string') }}, {{ $fromAI('nuevo_saldo', 'Nuevo saldo en pesos ARS', 'number') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1312,
        1024
      ],
      "id": "a6127506-d314-4b1e-a2c4-e958e9702048",
      "name": "actualizar_billetera",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Evalúa si Luis puede afrontar una compra según su presupuesto disponible actual. Usá cuando pregunta \"puedo comprar X\" o \"me alcanza para Y\". Requiere monto total y cantidad de cuotas.",
        "operation": "executeQuery",
        "query": "SELECT * FROM finanzas_personales.puedo_comprar($1, $2);",
        "options": {
          "queryReplacement": "={{ $fromAI('monto', 'Monto total de la compra en pesos ARS', 'number') }}, {{ $fromAI('cuotas', 'Cantidad de cuotas, usar 1 si es pago único', 'number') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1504,
        1024
      ],
      "id": "ce8ee38c-8623-4a5d-be92-d2c3f566a09d",
      "name": "evaluar_compra",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Muestra todas las cuotas activas de tarjetas con detalle: monto por cuota, cuotas restantes y total pendiente. Usá cuando el usuario pregunta por deudas, cuotas o compromisos de tarjeta.",
        "operation": "executeQuery",
        "query": "SELECT\n  tarjeta,\n  descripcion as concepto,\n  monto_cuota as cuota_mensual,\n  cuota_actual,\n  total_cuotas,\n  fecha_fin,\n  (total_cuotas - cuota_actual) as cuotas_restantes,\n  monto_cuota * (total_cuotas - cuota_actual) as total_pendiente\nFROM finanzas_personales.compromisos_tarjeta\nWHERE activo = TRUE\n  AND descripcion NOT ILIKE '%REINTEGRO%'\nORDER BY fecha_fin;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1696,
        1024
      ],
      "id": "57e9797f-5145-4402-8e8e-a46e8ef5b04d",
      "name": "consultar_compromisos_tc",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Lista todos los gastos fijos activos con monto, vencimiento y método de pago. Usá cuando el usuario pregunta qué gastos fijos tiene o quiere ver sus compromisos mensuales recurrentes.",
        "operation": "executeQuery",
        "query": "SELECT\n  cg.icono,\n  cg.nombre as categoria,\n  gf.nombre as concepto,\n  CASE WHEN gf.es_compartido THEN gf.monto / 2 ELSE gf.monto END as monto,\n  gf.moneda,\n  gf.es_compartido,\n  gf.dia_vencimiento,\n  gf.debito_automatico as es_debito_automatico,\n  CASE WHEN gf.es_cuota THEN CONCAT(gf.cuota_actual, '/', gf.total_cuotas) ELSE NULL END as cuota\nFROM finanzas_personales.gastos_fijos gf\nJOIN finanzas_personales.categorias_gasto cg ON gf.categoria_id = cg.id\nWHERE gf.activo = TRUE\nORDER BY gf.dia_vencimiento NULLS LAST, cg.nombre;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1888,
        1024
      ],
      "id": "f2b35d2e-313e-47bd-88ef-f06f35726a52",
      "name": "consultar_gastos_fijos",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtiene el presupuesto del mes actual con distribución 50/30/20: ingresos, presupuesto por categoría, lo gastado hasta ahora y el disponible restante.",
        "operation": "executeQuery",
        "query": "SELECT\n  anio_mes as mes,\n  ingreso_total_usd,\n  ingreso_total_ars as ingreso_total,\n  tipo_cambio,\n  presupuesto_necesidades,\n  presupuesto_deseos,\n  presupuesto_ahorro,\n  gastado_necesidades,\n  gastado_deseos,\n  compromisos_tc,\n  disponible_para_gastar\nFROM finanzas_personales.presupuesto_mensual\nWHERE anio_mes = TO_CHAR(CURRENT_DATE, 'YYYY-MM');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        528,
        1232
      ],
      "id": "f6c52df2-ff0d-470b-963d-a77404140dc4",
      "name": "consultar_presupuesto",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Muestra los saldos actuales de todas las billeteras: Dinero Operativo (disponible para gastar), Fondo para Auto (ahorro) y Fondo Juan (emergencia, no tocar). Incluye progreso hacia metas.",
        "operation": "executeQuery",
        "query": "SELECT\n  tb.nombre as billetera,\n  tb.codigo,\n  b.saldo_actual as saldo,\n  b.moneda,\n  tb.se_puede_usar,\n  b.meta,\n  CASE WHEN b.meta > 0 THEN ROUND((b.saldo_actual / b.meta) * 100, 1) ELSE NULL END as progreso_pct\nFROM finanzas_personales.billeteras b\nJOIN finanzas_personales.tipos_billetera tb ON b.tipo_billetera_id = tb.id\nORDER BY tb.orden;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        736,
        1232
      ],
      "id": "5093b978-226d-440c-b523-ca9c76ed6a56",
      "name": "consultar_billeteras",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Registra un gasto variable. Ejecutar DIRECTO cuando se tienen descripción + monto + método de pago. Solo preguntar si falta el método de pago. Inferir categoría según contexto. Si no se menciona fecha, usar hoy.",
        "operation": "executeQuery",
        "query": "SELECT * FROM finanzas_personales.registrar_gasto($1, $2, $3, $4, $5);",
        "options": {
          "queryReplacement": "={{ $fromAI('descripcion', 'Descripción del gasto', 'string') }}, {{ $fromAI('monto', 'Monto en pesos ARS', 'number') }}, {{ $fromAI('categoria', 'Categoría: SUPERMERCADO, NAFTA_GAS, FARMACIA, ROPA_CALZADO, SALIDAS_OCIO, HOGAR_LIMPIEZA, REGALOS, CUIDADO_PERSONAL, DEPORTE_RECREACION, SUPLEMENTOS, OTROS_GASTOS', 'string') }}, {{ $fromAI('metodo_pago', 'Método: EFECTIVO, DEBITO_GALICIA, DEBITO_NARANJA, CREDITO_NARANJA, CREDITO_GALICIA, MERCADO_PAGO', 'string') }}, {{ $fromAI('fecha', 'Fecha del gasto en formato YYYY-MM-DD. Si el usuario dice hoy usar fecha actual, si dice ayer restar 1 día, etc.', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        928,
        1232
      ],
      "id": "0833d051-d09e-4569-b8a6-82c356063d52",
      "name": "registrar_gasto",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Muestra resumen agrupado por categoría de todos los gastos variables del mes actual. Usá cuando el usuario pregunta en qué gastó este mes o quiere ver el desglose mensual.",
        "operation": "executeQuery",
        "query": "SELECT * FROM finanzas_personales.vista_gastos_mes;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1120,
        1232
      ],
      "id": "383fb692-7038-453b-9b81-b198c7c3aac7",
      "name": "consultar_gastos_mes",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Devuelve los últimos 20 gastos de los últimos 7 días con id, fecha, categoría, monto y método de pago. Usá para gastos de hoy, ayer, recientes, o para obtener el id antes de modificar o eliminar.",
        "operation": "executeQuery",
        "query": "SELECT\n  gv.id,\n  gv.fecha,\n  cg.icono,\n  cg.nombre as categoria,\n  gv.descripcion,\n  gv.monto,\n  gv.metodo_pago\nFROM finanzas_personales.gastos_variables gv\nJOIN finanzas_personales.categorias_gasto cg ON gv.categoria_id = cg.id\nWHERE gv.fecha >= CURRENT_DATE - INTERVAL '7 days'\nORDER BY gv.fecha DESC, gv.creado_en DESC\nLIMIT 20;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1312,
        1232
      ],
      "id": "cbbe04a4-869a-4eb9-b413-3bd5d6541a14",
      "name": "consultar_gastos_recientes",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Muestra el resumen financiero completo consolidado: ingresos, presupuesto 50/30/20, gastos fijos, compromisos de tarjeta y disponible real. Usá para \"resumen\", \"cómo estoy\" o \"mi situación\".",
        "operation": "executeQuery",
        "query": "SELECT * FROM finanzas_personales.vista_resumen_completo;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1504,
        1232
      ],
      "id": "b87befea-3fd5-4fc1-bdd0-70e553dd026e",
      "name": "consultar_resumen_completo",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Evolution API: trae base64 directo\nif (body.data?.message?.base64) {\n  const base64 = body.data.message.base64;\n  const buffer = Buffer.from(base64, 'base64');\n  const binaryData = await this.helpers.prepareBinaryData(buffer, 'audio.ogg', 'audio/ogg');\n  return [{ json: {}, binary: { data: binaryData } }];\n}\n\n// YCloud: hay que descargar desde URL\nif (body.whatsappInboundMessage?.audio?.link) {\n  const url = body.whatsappInboundMessage.audio.link;\n  const response = await this.helpers.request({ method: 'GET', url, encoding: null });\n  const binaryData = await this.helpers.prepareBinaryData(response, 'audio.ogg', 'audio/ogg');\n  return [{ json: {}, binary: { data: binaryData } }];\n}\n\nthrow new Error('No se encontró audio en el payload');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        480
      ],
      "id": "f850329b-fd7d-4df3-a4d7-3d53fa9cebc9",
      "name": "Descargar audio"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Elimina definitivamente un gasto por su id. SIEMPRE usar consultar_gastos_recientes primero para obtener el id. Si hay duplicados mostrar ambos y preguntar cuál eliminar.",
        "operation": "executeQuery",
        "query": "DELETE FROM finanzas_personales.gastos_variables WHERE id = $1 RETURNING id, descripcion, monto;",
        "options": {
          "queryReplacement": "={{ $fromAI('id_gasto', 'ID numérico del gasto a eliminar, obtenido de consultar_gastos_recientes', 'number') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2112,
        1232
      ],
      "id": "f152bc39-f907-44b8-be0a-d6a8ae0e779e",
      "name": "eliminar_gasto",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cambia el método de pago de un gasto ya registrado. SIEMPRE usar consultar_gastos_recientes primero para obtener el id.",
        "operation": "executeQuery",
        "query": "UPDATE finanzas_personales.gastos_variables \nSET metodo_pago = $2\nWHERE id = $1\nRETURNING id, descripcion, monto, metodo_pago;",
        "options": {
          "queryReplacement": "={{ $fromAI('id_gasto', 'ID del gasto a modificar', 'number') }}, {{ $fromAI('metodo_pago', 'Método de pago: EFECTIVO, DEBITO_GALICIA, DEBITO_NARANJA, CREDITO_NARANJA, CREDITO_GALICIA, MERCADO_PAGO', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1696,
        1232
      ],
      "id": "34f1bb0e-8e2f-4248-b275-53fa5b983826",
      "name": "modificar_metodo_pago",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Modifica la descripción y/o monto de un gasto ya registrado. SIEMPRE usar consultar_gastos_recientes primero para obtener el id. Pasar descripción vacía si no cambia, monto 0 si no cambia.",
        "operation": "executeQuery",
        "query": "UPDATE finanzas_personales.gastos_variables \nSET \n  descripcion = CASE WHEN $2 = '' THEN descripcion ELSE $2 END,\n  monto = CASE WHEN $3 = 0 THEN monto ELSE $3 END\nWHERE id = $1\nRETURNING id, descripcion, monto, metodo_pago;",
        "options": {
          "queryReplacement": "={{ $fromAI('id_gasto', 'ID del gasto a modificar', 'number') }}, {{ $fromAI('nueva_descripcion', 'Nueva descripción, vacío si no cambia', 'string') }}, {{ $fromAI('nuevo_monto', 'Nuevo monto en ARS, 0 si no cambia', 'number') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1920,
        1232
      ],
      "id": "02cdcbd9-7103-4f2a-9fc2-0f1f70a179c0",
      "name": "modificar_descripcion_monto",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        832,
        768
      ],
      "id": "a821f32e-d3c7-4e24-9323-eb6cffe32e8f",
      "name": "OpenAI GPT-4.1- mini",
      "credentials": {
        "openAiApi": {
          "id": "doxD8wCrP7dw8oHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Desglose visual de pago de tarjetas separando lo de Luis vs reintegros de Sole/hermanos: cuotas Galicia Nueva (luis + reintegros), Galicia Vieja, Naranja NX (luis + reintegros Sole/Gonzalo), subs USD por tarjeta y percepción ARCA estimada. Usá cuando Luis pregunte cuánto paga de tarjeta.",
        "operation": "executeQuery",
        "query": "WITH tc AS (SELECT finanzas_personales.obtener_tc() AS valor),\ngal_nueva_luis AS (\n  SELECT COALESCE(SUM(monto_cuota), 0) AS total,\n    STRING_AGG(\n      LEFT(descripcion, 32) || ' $' || REPLACE(TO_CHAR(ROUND(monto_cuota), 'FM999,999,999'), ',', '.') || ' (' || cuota_actual || '/' || total_cuotas || ')',\n      E'\\n' ORDER BY monto_cuota DESC\n    ) AS detalle\n  FROM finanzas_personales.compromisos_tarjeta\n  WHERE activo = true\n    AND descripcion NOT ILIKE '%REINTEGRO%' AND descripcion NOT ILIKE '%HERMANO%'\n    AND tarjeta IN ('CREDITO_GALICIA', 'Mastercard Galicia')\n    AND fecha_inicio <= (DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month' - INTERVAL '1 day')::date\n    AND fecha_fin >= DATE_TRUNC('month', CURRENT_DATE)::date\n),\ngal_nueva_otros AS (\n  SELECT COALESCE(SUM(monto_cuota), 0) AS total,\n    COALESCE(SUM(CASE WHEN descripcion ILIKE '%REINTEGRO%' THEN monto_cuota ELSE 0 END), 0) AS sole_total,\n    COALESCE(SUM(CASE WHEN descripcion ILIKE '%HERMANO%' THEN monto_cuota ELSE 0 END), 0) AS hermano_total,\n    STRING_AGG(\n      LEFT(descripcion, 32) || ' $' || REPLACE(TO_CHAR(ROUND(monto_cuota), 'FM999,999,999'), ',', '.') || ' (' || cuota_actual || '/' || total_cuotas || ')',\n      E'\\n' ORDER BY monto_cuota DESC\n    ) AS detalle\n  FROM finanzas_personales.compromisos_tarjeta\n  WHERE activo = true\n    AND (descripcion ILIKE '%REINTEGRO%' OR descripcion ILIKE '%HERMANO%')\n    AND tarjeta IN ('CREDITO_GALICIA', 'Mastercard Galicia')\n    AND fecha_inicio <= (DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month' - INTERVAL '1 day')::date\n    AND fecha_fin >= DATE_TRUNC('month', CURRENT_DATE)::date\n),\ngal_vieja AS (\n  SELECT COALESCE(SUM(monto_cuota), 0) AS total,\n    STRING_AGG(\n      LEFT(descripcion, 32) || ' $' || REPLACE(TO_CHAR(ROUND(monto_cuota), 'FM999,999,999'), ',', '.') || ' (' || cuota_actual || '/' || total_cuotas || ')',\n      E'\\n' ORDER BY monto_cuota DESC\n    ) AS detalle\n  FROM finanzas_personales.compromisos_tarjeta\n  WHERE activo = true AND tarjeta = 'Mastercard Black Galicia'\n    AND fecha_inicio <= (DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month' - INTERVAL '1 day')::date\n    AND fecha_fin >= DATE_TRUNC('month', CURRENT_DATE)::date\n),\nnar_luis AS (\n  SELECT COALESCE(SUM(monto_cuota), 0) AS total,\n    STRING_AGG(\n      LEFT(descripcion, 32) || ' $' || REPLACE(TO_CHAR(ROUND(monto_cuota), 'FM999,999,999'), ',', '.') || ' (' || cuota_actual || '/' || total_cuotas || ')',\n      E'\\n' ORDER BY monto_cuota DESC\n    ) AS detalle\n  FROM finanzas_personales.compromisos_tarjeta\n  WHERE activo = true AND descripcion NOT ILIKE '%REINTEGRO%'\n    AND UPPER(tarjeta) LIKE '%NARANJA%'\n    AND fecha_inicio <= (DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month' - INTERVAL '1 day')::date\n    AND fecha_fin >= DATE_TRUNC('month', CURRENT_DATE)::date\n),\nnar_otros AS (\n  SELECT COALESCE(SUM(monto_cuota), 0) AS total,\n    STRING_AGG(\n      LEFT(descripcion, 32) || ' $' || REPLACE(TO_CHAR(ROUND(monto_cuota), 'FM999,999,999'), ',', '.') || ' (' || cuota_actual || '/' || total_cuotas || ')',\n      E'\\n' ORDER BY monto_cuota DESC\n    ) AS detalle\n  FROM finanzas_personales.compromisos_tarjeta\n  WHERE activo = true AND descripcion ILIKE '%REINTEGRO%'\n    AND UPPER(tarjeta) LIKE '%NARANJA%'\n    AND fecha_inicio <= (DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month' - INTERVAL '1 day')::date\n    AND fecha_fin >= DATE_TRUNC('month', CURRENT_DATE)::date\n),\nsubs_usd AS (\n  SELECT\n    -- Luis: excluir [HERMANO]\n    COALESCE(SUM(CASE WHEN UPPER(COALESCE(metodo_pago,'')) NOT LIKE '%NARANJA%' AND nombre NOT ILIKE '%HERMANO%' THEN monto ELSE 0 END), 0) AS galicia_usd,\n    COALESCE(SUM(CASE WHEN UPPER(COALESCE(metodo_pago,'')) LIKE '%NARANJA%' AND nombre NOT ILIKE '%HERMANO%' THEN monto ELSE 0 END), 0) AS naranja_usd,\n    -- Hermanos en Naranja (ej: McAfee Gonzalo)\n    COALESCE(SUM(CASE WHEN UPPER(COALESCE(metodo_pago,'')) LIKE '%NARANJA%' AND nombre ILIKE '%HERMANO%' THEN monto ELSE 0 END), 0) AS hermano_naranja_usd,\n    -- Detalle Galicia Luis\n    STRING_AGG(nombre || ' U$D ' || TO_CHAR(monto, 'FM999,990.00'), E'\\n' ORDER BY monto DESC)\n      FILTER (WHERE UPPER(COALESCE(metodo_pago,'')) NOT LIKE '%NARANJA%' AND nombre NOT ILIKE '%HERMANO%') AS det_galicia,\n    -- Detalle Naranja Luis\n    STRING_AGG(nombre || ' U$D ' || TO_CHAR(monto, 'FM999,990.00'), E'\\n' ORDER BY monto DESC)\n      FILTER (WHERE UPPER(COALESCE(metodo_pago,'')) LIKE '%NARANJA%' AND nombre NOT ILIKE '%HERMANO%') AS det_naranja,\n    -- Detalle Naranja hermanos\n    STRING_AGG(REPLACE(nombre, '[HERMANO] ', '') || ' U$D ' || TO_CHAR(monto, 'FM999,990.00'), E'\\n' ORDER BY monto DESC)\n      FILTER (WHERE UPPER(COALESCE(metodo_pago,'')) LIKE '%NARANJA%' AND nombre ILIKE '%HERMANO%') AS det_hermano_naranja\n  FROM finanzas_personales.gastos_fijos\n  WHERE activo = true AND moneda = 'USD'\n)\nSELECT\n  gln.total AS gal_nueva_luis_ars, gln.detalle AS gal_nueva_luis_det,\n  gno.total AS gal_nueva_otros_ars, gno.sole_total AS gal_sole_ars,\n  gno.hermano_total AS gal_hermano_ars, gno.detalle AS gal_nueva_otros_det,\n  gv.total AS gal_vieja_ars, gv.detalle AS gal_vieja_det,\n  nl.total AS nar_luis_ars, nl.detalle AS nar_luis_det,\n  no2.total AS nar_otros_ars, no2.detalle AS nar_otros_det,\n  su.galicia_usd, su.naranja_usd, su.hermano_naranja_usd,\n  su.det_galicia AS subs_galicia_det,\n  su.det_naranja AS subs_naranja_det,\n  su.det_hermano_naranja AS subs_hermano_nar_det,\n  tc.valor AS tc_actual,\n  ROUND(su.galicia_usd * tc.valor) AS galicia_usd_ars,\n  ROUND(su.naranja_usd * tc.valor) AS naranja_usd_ars,\n  ROUND(su.hermano_naranja_usd * tc.valor) AS hermano_naranja_ars,\n  ROUND(su.galicia_usd * tc.valor * 0.30) AS percep_galicia,\n  ROUND(su.naranja_usd * tc.valor * 0.30) AS percep_naranja,\n  CASE EXTRACT(MONTH FROM CURRENT_DATE)::int\n    WHEN 1 THEN 'Enero' WHEN 2 THEN 'Febrero' WHEN 3 THEN 'Marzo' WHEN 4 THEN 'Abril'\n    WHEN 5 THEN 'Mayo' WHEN 6 THEN 'Junio' WHEN 7 THEN 'Julio' WHEN 8 THEN 'Agosto'\n    WHEN 9 THEN 'Septiembre' WHEN 10 THEN 'Octubre' WHEN 11 THEN 'Noviembre' WHEN 12 THEN 'Diciembre'\n  END || ' ' || EXTRACT(YEAR FROM CURRENT_DATE)::text AS mes_actual\nFROM gal_nueva_luis gln, gal_nueva_otros gno, gal_vieja gv, nar_luis nl, nar_otros no2, subs_usd su, tc",
        "options": {}
      },
      "id": "56305d26-2141-4484-83fc-c9803bf48f32",
      "name": "consultar_pago_tarjetas",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2080,
        1024
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "TC 10am y 17pm": {
      "main": [
        [
          {
            "node": "¿Es día hábil?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es día hábil?": {
      "main": [
        [
          {
            "node": "Si es hábil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si es hábil": {
      "main": [
        [
          {
            "node": "Consultar DolarApi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar DolarApi": {
      "main": [
        [
          {
            "node": "Preparar datos TC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos TC": {
      "main": [
        [
          {
            "node": "Guardar TC en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar TC en BD": {
      "main": [
        [
          {
            "node": "Notificar TC (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook YCloud": {
      "main": [
        [
          {
            "node": "¿Es mensaje entrante?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es mensaje entrante?": {
      "main": [
        [
          {
            "node": "¿Es audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es audio?": {
      "main": [
        [
          {
            "node": "Descargar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar mensaje texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir (Whisper)": {
      "main": [
        [
          {
            "node": "Preparar mensaje audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar mensaje audio": {
      "main": [
        [
          {
            "node": "Agente Financiero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar mensaje texto": {
      "main": [
        [
          {
            "node": "Agente Financiero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Financiero": {
      "main": [
        [
          {
            "node": "Responder WhatsApp (YCloud)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_proyeccion_meses": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "registrar_decision": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_vencimientos_proximos": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "actualizar_gasto_fijo": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "actualizar_billetera": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "evaluar_compra": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_compromisos_tc": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_gastos_fijos": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_presupuesto": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_billeteras": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "registrar_gasto": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_gastos_mes": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_gastos_recientes": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_resumen_completo": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Descargar audio": {
      "main": [
        [
          {
            "node": "Transcribir (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eliminar_gasto": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "modificar_metodo_pago": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "modificar_descripcion_monto": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4.1- mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar_pago_tarjetas": {
      "ai_tool": [
        [
          {
            "node": "Agente Financiero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "dd1a10b8-cad4-486e-9eb2-e79241fea1ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b42fd32e6f340260e7c3102f964d10a6ec4faa1c313419e6f443ee442339754"
  },
  "id": "xVhEGbxXuetDbOzF",
  "tags": []
}