📅 Preparación del Mes Siguiente.json
{
  "name": "📅 Preparación del Mes Siguiente",
  "nodes": [
    {
      "parameters": {
        "content": "## 📅 Preparación del Mes Siguiente\n\n**Día 25 de cada mes, 9am.**\n\nEnvía por WhatsApp:\n✅ Fecha estimada de cobro (primer jueves hábil España + 3-5 días)\n✅ Gastos que vencen ANTES del sueldo (días 1-13)\n✅ Compromisos de tarjeta del mes siguiente\n✅ Reserva ahorro: Fondo Auto + Fondo Independencia\n✅ Total a tener listo en ARS y USD",
        "height": 340,
        "width": 380,
        "color": 5
      },
      "id": "sticky-prep-info",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 25,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "trigger-prep-dia25",
      "name": "Día 25 — Preparación",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  finanzas_personales.obtener_tc() AS tc,\n  (SELECT b.saldo_actual\n   FROM finanzas_personales.billeteras b\n   JOIN finanzas_personales.tipos_billetera tb ON b.tipo_billetera_id = tb.id\n   WHERE tb.nombre ILIKE '%operativ%' LIMIT 1) AS saldo_operativo,\n  (SELECT COALESCE(SUM(\n    CASE WHEN fecha_proximo_aumento IS NOT NULL\n              AND fecha_proximo_aumento <= CURRENT_DATE\n              AND monto_proximo IS NOT NULL\n         THEN monto_proximo ELSE monto END), 1500)\n   FROM finanzas_personales.ingresos\n   WHERE activo = true AND moneda = 'USD') AS ingreso_usd,\n  (SELECT COALESCE(SUM(monto_cuota), 0)\n   FROM finanzas_personales.compromisos_tarjeta\n   WHERE activo = true\n     AND descripcion NOT ILIKE '%REINTEGRO%'\n     AND fecha_inicio <= (DATE_TRUNC('month', CURRENT_DATE + INTERVAL '2 months') - INTERVAL '1 day')::date\n     AND fecha_fin >= DATE_TRUNC('month', CURRENT_DATE + INTERVAL '1 month')::date\n  ) AS total_compromisos_tc,\n  (SELECT COALESCE(SUM(monto), 0)\n   FROM finanzas_personales.gastos_fijos\n   WHERE activo = true AND moneda = 'USD') AS subs_usd,\n  (SELECT COALESCE(SUM(monto), 0)\n   FROM finanzas_personales.gastos_fijos\n   WHERE activo = true AND moneda = 'ARS'\n     AND dia_vencimiento IS NOT NULL AND dia_vencimiento <= 13) AS total_previos_sueldo,\n  (SELECT COALESCE(STRING_AGG(nombre || ' $' || monto::int || ' (día ' || dia_vencimiento || ')', chr(10) ORDER BY dia_vencimiento), '')\n   FROM finanzas_personales.gastos_fijos\n   WHERE activo = true AND moneda = 'ARS'\n     AND dia_vencimiento IS NOT NULL AND dia_vencimiento <= 13) AS detalle_previos",
        "options": {}
      },
      "id": "pg-prep-main",
      "name": "Consultar datos principales",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  tarjeta,\n  SUM(monto_cuota)::int AS total,\n  STRING_AGG(\n    LEFT(descripcion, 18) || ' (' || (cuota_actual + 1) || '/' || total_cuotas || ') $' || monto_cuota::int,\n    ', ' ORDER BY monto_cuota DESC\n  ) AS items\nFROM finanzas_personales.compromisos_tarjeta\nWHERE activo = true\n  AND descripcion NOT ILIKE '%REINTEGRO%'\n  AND fecha_inicio <= (DATE_TRUNC('month', CURRENT_DATE + INTERVAL '2 months') - INTERVAL '1 day')::date\n  AND fecha_fin >= DATE_TRUNC('month', CURRENT_DATE + INTERVAL '1 month')::date\nGROUP BY tarjeta\nORDER BY total DESC",
        "options": {}
      },
      "id": "pg-prep-compromisos",
      "name": "Compromisos por tarjeta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datos = $('Consultar datos principales').first().json;\nconst compromisosPorTarjeta = $input.all().filter(i => i.json.tarjeta).map(i => i.json);\n\nconst TC = Number(datos.tc);\nconst saldoOperativo = Number(datos.saldo_operativo || 0);\nconst ingresoUSD = Number(datos.ingreso_usd || 1500);\nconst ingresoARS = Math.round(ingresoUSD * TC);\nconst totalCompromisosTc = Number(datos.total_compromisos_tc || 0);\nconst subsUSD = Number(datos.subs_usd || 0);\nconst totalPreviosSueldo = Number(datos.total_previos_sueldo || 0);\nconst detallePrevios = datos.detalle_previos || '';\n\n// Fondos de ahorro — activos desde Mayo 2026 (Santander cancelado)\nconst fondoAuto = 200000;\nconst fondoIndependencia = 165000;\nconst totalAhorro = fondoAuto + fondoIndependencia;\nconst totalNecesario = totalCompromisosTc + totalAhorro;\n\n// --- Calcular fecha estimada de cobro ---\nconst hoy = new Date();\nlet añoProx = hoy.getFullYear();\nlet mesProx = hoy.getMonth() + 1;\nif (mesProx > 11) { mesProx = 0; añoProx++; }\n\nfunction primerJuevesHabil(año, mes) {\n  let d = new Date(año, mes, 1);\n  while (d.getDay() !== 4) d.setDate(d.getDate() + 1);\n  const toKey = dt =>\n    `${dt.getFullYear()}-${String(dt.getMonth()+1).padStart(2,'0')}-${String(dt.getDate()).padStart(2,'0')}`;\n  const holidays = new Set([\n    `${año}-01-01`, `${año}-01-06`, `${año}-05-01`,\n    `${año}-08-15`, `${año}-10-12`, `${año}-11-01`,\n    `${año}-12-06`, `${año}-12-08`, `${año}-12-25`,\n    `${año}-02-28`,\n    '2026-04-02', '2026-04-03',\n    '2027-04-01', '2027-04-02',\n  ]);\n  while (holidays.has(toKey(d))) d.setDate(d.getDate() + 7);\n  return d;\n}\n\nconst juevesEspaña = primerJuevesHabil(añoProx, mesProx);\nconst fechaMin = new Date(juevesEspaña); fechaMin.setDate(fechaMin.getDate() + 3);\nconst fechaMax = new Date(juevesEspaña); fechaMax.setDate(fechaMax.getDate() + 5);\n\nconst meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst dias = ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'];\nconst fmt = n => Math.round(Number(n)).toLocaleString('es-AR');\nconst fmtF = d => `${dias[d.getDay()]} ${d.getDate()} ${meses[d.getMonth()]}`;\n\nconst mesProxNombre = meses[mesProx];\nconst coberturaPrevia = saldoOperativo - totalPreviosSueldo;\nconst sobrante = ingresoARS - totalNecesario;\n\nlet msg = `📅 *PREPARACIÓN ${mesProxNombre.toUpperCase()}*\\n`;\nmsg += `━━━━━━━━━━━━━━━━\\n\\n`;\n\nmsg += `💵 *COBRO ESTIMADO*\\n`;\nmsg += `España paga: ${fmtF(juevesEspaña)}\\n`;\nmsg += `Te llega: ${fmtF(fechaMin)} – ${fmtF(fechaMax)}\\n`;\nmsg += `U$D ${fmt(ingresoUSD)} × $${fmt(TC)} = *$${fmt(ingresoARS)}*\\n\\n`;\n\nmsg += `⚠️ *ANTES DEL SUELDO (días 1–13)*\\n`;\nif (detallePrevios) {\n  for (const l of detallePrevios.split('\\n')) if (l.trim()) msg += `  ${l}\\n`;\n}\nmsg += `  *Total: $${fmt(totalPreviosSueldo)}*\\n`;\nmsg += `  Operativo hoy: $${fmt(saldoOperativo)}\\n`;\nmsg += coberturaPrevia >= 0\n  ? `  ✅ Cubierto (sobran $${fmt(coberturaPrevia)})\\n\\n`\n  : `  🔴 *Falta $${fmt(Math.abs(coberturaPrevia))} antes de cobrar*\\n\\n`;\n\nmsg += `💳 *COMPROMISOS TARJETAS*\\n`;\nfor (const c of compromisosPorTarjeta) {\n  const t = c.tarjeta.toUpperCase();\n  const label = t.includes('GALICIA') ? '🏦 Galicia'\n              : t.includes('NARANJA') ? '🟠 Naranja'\n              : c.tarjeta;\n  msg += `  ${label}: *$${fmt(c.total)}*\\n`;\n  if (c.items) msg += `  _${c.items}_\\n`;\n}\nif (compromisosPorTarjeta.length === 0) msg += `  Sin compromisos activos\\n`;\nmsg += `  *Total TC: $${fmt(totalCompromisosTc)}*\\n`;\nif (subsUSD > 0) msg += `  + U$D ${fmt(subsUSD)} suscripciones\\n`;\nmsg += `\\n`;\n\nmsg += `💰 *AHORRO DEL MES*\\n`;\nmsg += `  🚗 Fondo Auto: $${fmt(fondoAuto)}\\n`;\nmsg += `  📈 Fondo Independencia: $${fmt(fondoIndependencia)}\\n`;\nmsg += `  *Total: $${fmt(totalAhorro)}*\\n\\n`;\n\nmsg += `━━━━━━━━━━━━━━━━\\n`;\nmsg += `📊 *TOTAL A RESERVAR*\\n`;\nmsg += `  ARS: *$${fmt(totalNecesario)}*\\n`;\nif (subsUSD > 0) msg += `  USD: *U$D ${fmt(subsUSD)}*\\n`;\nmsg += `\\n`;\nmsg += sobrante >= 0\n  ? `✅ Libre para variables: *$${fmt(sobrante)}*`\n  : `⚠️ Déficit proyectado: *$${fmt(Math.abs(sobrante))}*`;\n\nreturn [{ json: { mensaje: msg } }];"
      },
      "id": "code-prep-mensaje",
      "name": "Calcular y armar mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        400
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MyAivaro",
        "remoteJid": "54XXXXXXXXXX",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "id": "evo-prep-wa",
      "name": "Enviar WA Luis (Evolution)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ],
      "credentials": {
        "evolutionApi": {
          "id": "rGdgi31Sr5KvqJwd",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Día 25 — Preparación": {
      "main": [
        [
          {
            "node": "Consultar datos principales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar datos principales": {
      "main": [
        [
          {
            "node": "Compromisos por tarjeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compromisos por tarjeta": {
      "main": [
        [
          {
            "node": "Calcular y armar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular y armar mensaje": {
      "main": [
        [
          {
            "node": "Enviar WA Luis (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "cdb3714a-acd8-4fb8-b8ee-a12283c7bcdf",
  "meta": {
    "instanceId": "3b42fd32e6f340260e7c3102f964d10a6ec4faa1c313419e6f443ee442339754"
  },
  "id": "qUOcbGYXoGJdyKUP",
  "tags": []
}