📅 Cierre Mensual (Recálculo automático).json
{
  "name": "📅 Cierre Mensual (Recálculo automático)",
  "nodes": [
    {
      "parameters": {
        "content": "## 📅 Cierre Mensual\n\nSe ejecuta el día 1 de cada mes a las 8am.\nUsa Evolution API - formato libre con saltos de línea.\n\nNOVEDADES vs versión anterior:\n✅ Cierre del mes anterior con análisis real\n✅ Cuotas que terminaron este mes\n✅ Proyección liberación de dinero\n✅ Nuevo presupuesto con distribución visual",
        "height": 320,
        "width": 360,
        "color": 6
      },
      "id": "2e2ed47f-f267-44ae-bc84-9e28ebcf8707",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "77baff36-670f-4e74-ba9a-367526eba187",
      "name": "Día 1 de cada mes 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SUM(CASE WHEN moneda = 'USD' THEN monto ELSE 0 END) as total_usd, SUM(CASE WHEN moneda = 'ARS' THEN monto ELSE 0 END) as total_ars FROM finanzas_personales.ingresos WHERE activo = TRUE;",
        "options": {}
      },
      "id": "08cf03a2-759a-4477-90e5-e7908e73dd7d",
      "name": "Consultar ingresos activos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        272
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT regla_necesidades_pct, regla_deseos_pct, regla_ahorro_pct FROM finanzas_personales.configuracion LIMIT 1;",
        "options": {}
      },
      "id": "e62e05cf-21fd-473b-884f-d2a8e8b10780",
      "name": "Consultar regla distribución",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SUM(CASE WHEN gf.es_compartido = TRUE THEN CASE WHEN gf.moneda = 'USD' THEN (gf.monto / 2) * (SELECT dolar_blue FROM finanzas_personales.tipo_cambio ORDER BY fecha DESC LIMIT 1) ELSE gf.monto / 2 END ELSE CASE WHEN gf.moneda = 'USD' THEN gf.monto * (SELECT dolar_blue FROM finanzas_personales.tipo_cambio ORDER BY fecha DESC LIMIT 1) ELSE gf.monto END END) as total_gastos_fijos_ars, (SELECT dolar_blue FROM finanzas_personales.tipo_cambio ORDER BY fecha DESC LIMIT 1) as tc_usado FROM finanzas_personales.gastos_fijos gf WHERE gf.activo = TRUE;",
        "options": {}
      },
      "id": "af070518-7b68-4ef9-9f1d-98345b61c884",
      "name": "Consultar gastos fijos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(SUM(monto_cuota), 0) as compromisos_tc, COUNT(*) as cantidad_cuotas\nFROM finanzas_personales.compromisos_tarjeta\nWHERE activo = TRUE\n  AND fecha_inicio <= (DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month - 1 day')::date\n  AND fecha_fin    >= DATE_TRUNC('month', CURRENT_DATE)::date;",
        "options": {}
      },
      "id": "10b8556b-8a9e-4b56-b80a-a528417692c5",
      "name": "Consultar compromisos TC del mes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        848
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT anio_mes, ingreso_total_ars, gastado_necesidades, gastado_deseos, presupuesto_deseos, presupuesto_necesidades, ahorro_real, disponible_para_gastar FROM finanzas_personales.presupuesto_mensual WHERE anio_mes = TO_CHAR(CURRENT_DATE - INTERVAL '1 month', 'YYYY-MM');",
        "options": {}
      },
      "id": "61d7b4d3-13f7-4a56-9ed2-17c21a449587",
      "name": "Consultar cierre mes anterior",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT descripcion, monto_cuota, cuota_actual, total_cuotas FROM finanzas_personales.compromisos_tarjeta WHERE activo = TRUE AND cuota_actual >= total_cuotas - 1 ORDER BY fecha_fin;",
        "options": {}
      },
      "id": "a4cb26f5-23a0-4287-bbbf-143d7a0b67d7",
      "name": "Cuotas por terminar pronto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        1232
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "2f6c65ad-e035-4e75-a091-c5783d4e2c64",
      "name": "Merge 1: Ingresos + Regla",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        64,
        368
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "b84d778d-622a-4c4b-8cc6-cf1417e7d706",
      "name": "Merge 2: Gastos + Compromisos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        64,
        752
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "fd0abbc9-1aec-4771-871a-07ec7d8d14b0",
      "name": "Merge 3: Combinar todo",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        304,
        560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "fcddbad8-da2a-4f2c-81f9-f3d2dda6d6a5",
      "name": "Merge 4: Cierre + Cuotas",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        304,
        1136
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "89bbf36b-e7e2-423e-ba22-3bb4245844c4",
      "name": "Merge 5: Todo final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        544,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet ingresos = null;\nlet regla = null;\nlet gastosFijos = null;\nlet compromisos = null;\nlet cierreMesAnterior = null;\nconst cuotasMap = new Map();\n\nfor (const item of items) {\n  const d = item.json;\n\n  if (d.total_usd !== undefined && ingresos === null) ingresos = d;\n  if (d.regla_necesidades_pct !== undefined && regla === null) regla = d;\n  if (d.total_gastos_fijos_ars !== undefined && gastosFijos === null) gastosFijos = d;\n  if (d.compromisos_tc !== undefined && d.cantidad_cuotas !== undefined && compromisos === null) compromisos = d;\n  if (d.gastado_deseos !== undefined && cierreMesAnterior === null) cierreMesAnterior = d;\n\n  if (d.monto_cuota !== undefined && d.cuota_actual !== undefined && d.descripcion) {\n    const key = `${d.descripcion}_${d.cuota_actual}_${d.total_cuotas}`;\n    if (!cuotasMap.has(key)) cuotasMap.set(key, d);\n  }\n}\n\ningresos = ingresos || { total_usd: 0, total_ars: 0 };\nregla = regla || { regla_necesidades_pct: 50, regla_deseos_pct: 30, regla_ahorro_pct: 20 };\ngastosFijos = gastosFijos || { total_gastos_fijos_ars: 0, tc_usado: 1430 };\ncompromisos = compromisos || { compromisos_tc: 0, cantidad_cuotas: 0 };\nconst cuotasPorTerminar = [...cuotasMap.values()];\n\nconst fmt = n => Number(n || 0).toLocaleString('es-AR', { minimumFractionDigits: 0, maximumFractionDigits: 0 });\nconst TC = Number(gastosFijos.tc_usado);\nconst ingresoTotalArs = (Number(ingresos.total_usd) * TC) + Number(ingresos.total_ars);\nconst budgetNeeds = ingresoTotalArs * (Number(regla.regla_necesidades_pct) / 100);\nconst budgetWants = ingresoTotalArs * (Number(regla.regla_deseos_pct) / 100);\nconst budgetSavings = ingresoTotalArs * (Number(regla.regla_ahorro_pct) / 100);\nconst compromisosTc = Number(compromisos.compromisos_tc);\nconst disponible = Math.round(budgetWants - compromisosTc);\n\nconst now = new Date();\nconst yearMonth = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}`;\nconst mesesES = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst mesActual = mesesES[now.getMonth()];\nconst mesAnterior = mesesES[now.getMonth() === 0 ? 11 : now.getMonth() - 1];\n\nlet msg = '';\nmsg += `📅 *CIERRE ${mesAnterior.toUpperCase()} | INICIO ${mesActual.toUpperCase()}*\\n`;\nmsg += `━━━━━━━━━━━━━━━━\\n\\n`;\n\nif (cierreMesAnterior) {\n  const gastNec = Number(cierreMesAnterior.gastado_necesidades || 0);\n  const gastDes = Number(cierreMesAnterior.gastado_deseos || 0);\n  const presNec = Number(cierreMesAnterior.presupuesto_necesidades || 0);\n  const presDes = Number(cierreMesAnterior.presupuesto_deseos || 0);\n  const totalIngreso = Number(cierreMesAnterior.ingreso_total_ars || 0);\n  const totalGastado = gastNec + gastDes;\n  const pctNec = presNec > 0 ? Math.round((gastNec / presNec) * 100) : 0;\n  const pctDes = presDes > 0 ? Math.round((gastDes / presDes) * 100) : 0;\n  const iconNec = pctNec > 100 ? '🔴' : pctNec > 85 ? '🟡' : '🟢';\n  const iconDes = pctDes > 100 ? '🔴' : pctDes > 85 ? '🟡' : '🟢';\n  msg += `📊 *BALANCE ${mesAnterior.toUpperCase()}*\\n`;\n  msg += `${iconNec} Necesidades: $${fmt(gastNec)} de $${fmt(presNec)} (${pctNec}%)\\n`;\n  msg += `${iconDes} Deseos: $${fmt(gastDes)} de $${fmt(presDes)} (${pctDes}%)\\n`;\n  const ahorro = totalIngreso - totalGastado;\n  const iconAhorro = ahorro >= 0 ? '✅' : '⚠️';\n  msg += `${iconAhorro} Ahorro real: *$${fmt(ahorro)}*\\n\\n`;\n} else {\n  msg += `📊 Sin datos de cierre para ${mesAnterior}\\n\\n`;\n}\n\nif (cuotasPorTerminar.length > 0) {\n  const liberacion = cuotasPorTerminar.reduce((sum, c) => sum + Number(c.monto_cuota), 0);\n  msg += `🎉 *CUOTAS POR TERMINAR*\\n`;\n  for (const c of cuotasPorTerminar) {\n    const restantes = c.total_cuotas - c.cuota_actual;\n    const texto = restantes === 0 ? 'Termina este mes' : `${restantes} mes${restantes > 1 ? 'es' : ''} más`;\n    msg += `• ${c.descripcion}: $${fmt(c.monto_cuota)}/mes (${texto})\\n`;\n  }\n  msg += `💸 Se liberan *$${fmt(liberacion)}/mes* próximamente\\n\\n`;\n}\n\nmsg += `💰 *PRESUPUESTO ${mesActual.toUpperCase()}*\\n`;\nmsg += `💵 Ingreso: U$D ${fmt(ingresos.total_usd)} × $${fmt(TC)} = *$${fmt(ingresoTotalArs)}*\\n\\n`;\nmsg += `📊 *Distribución 50/30/20:*\\n`;\nmsg += `🏠 Necesidades (${regla.regla_necesidades_pct}%): $${fmt(budgetNeeds)}\\n`;\nmsg += `🎯 Deseos (${regla.regla_deseos_pct}%): $${fmt(budgetWants)}\\n`;\nmsg += `💎 Ahorro (${regla.regla_ahorro_pct}%): $${fmt(budgetSavings)}\\n\\n`;\nmsg += `💳 Cuotas TC (${compromisos.cantidad_cuotas} activas): $${fmt(compromisosTc)}\\n`;\nconst iconDisp = disponible >= 0 ? '✅' : '⚠️';\nmsg += `${iconDisp} *Libre para gastar: $${fmt(disponible)}*\\n\\n`;\n\nmsg += `━━━━━━━━━━━━━━━━\\n`;\nmsg += `🤖 Cuotas y préstamos actualizados automáticamente.\\n`;\nmsg += `💡 _Consultame antes de gastar._`;\n\nreturn {\n  mensaje: msg,\n  year_month: yearMonth,\n  total_income_usd: Number(ingresos.total_usd),\n  total_income_ars: Math.round(ingresoTotalArs),\n  exchange_rate: TC,\n  budget_needs: Math.round(budgetNeeds),\n  budget_wants: Math.round(budgetWants),\n  budget_savings: Math.round(budgetSavings),\n  compromisos_tc: compromisosTc,\n  disponible_para_gastar: disponible\n};"
      },
      "id": "d88b2367-f8bf-4c29-83af-42fbbd82bb2b",
      "name": "Calcular nuevo presupuesto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        848
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO finanzas_personales.presupuesto_mensual (\n  anio_mes, ingreso_total_usd, ingreso_total_ars, tipo_cambio,\n  presupuesto_necesidades, presupuesto_deseos, presupuesto_ahorro,\n  compromisos_tc, disponible_para_gastar,\n  gastado_necesidades, gastado_deseos, ahorro_real, mes_cerrado\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, 0, 0, 0, false\n)\nON CONFLICT (anio_mes) DO UPDATE SET\n  ingreso_total_usd       = EXCLUDED.ingreso_total_usd,\n  ingreso_total_ars       = EXCLUDED.ingreso_total_ars,\n  tipo_cambio             = EXCLUDED.tipo_cambio,\n  presupuesto_necesidades = EXCLUDED.presupuesto_necesidades,\n  presupuesto_deseos      = EXCLUDED.presupuesto_deseos,\n  presupuesto_ahorro      = EXCLUDED.presupuesto_ahorro,\n  compromisos_tc          = EXCLUDED.compromisos_tc,\n  disponible_para_gastar  = EXCLUDED.disponible_para_gastar,\n  actualizado_en          = NOW()\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.year_month }}, {{ $json.total_income_usd }}, {{ $json.total_income_ars }}, {{ $json.exchange_rate }}, {{ $json.budget_needs }}, {{ $json.budget_wants }}, {{ $json.budget_savings }}, {{ $json.compromisos_tc }}, {{ $json.disponible_para_gastar }}"
        }
      },
      "id": "d034f13c-f67b-489c-96a5-42ac2e62962e",
      "name": "Guardar presupuesto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        848
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE finanzas_personales.compromisos_tarjeta SET cuota_actual = cuota_actual + 1 WHERE activo = TRUE RETURNING tarjeta, descripcion, cuota_actual, total_cuotas;",
        "options": {}
      },
      "id": "eaf002db-b5b3-4381-991f-e653308582c9",
      "name": "Avanzar cuotas TC",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        944
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE finanzas_personales.compromisos_tarjeta SET activo = FALSE WHERE cuota_actual > total_cuotas;",
        "options": {}
      },
      "id": "b1774ba4-a8b8-476c-824f-78243f119f15",
      "name": "Cerrar cuotas terminadas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        944
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE finanzas_personales.gastos_fijos SET cuota_actual = cuota_actual + 1 WHERE es_cuota = TRUE AND activo = TRUE AND cuota_actual < total_cuotas;",
        "options": {}
      },
      "id": "9773f61b-ad7e-4415-8ccc-ab36b7a4e537",
      "name": "Avanzar cuota préstamo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "f9a8b7c6-d5e4-3210-fedc-ba9876543210",
      "name": "Esperar ambas ramas",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1568,
        848
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MyAivaro",
        "remoteJid": "5493814690975",
        "messageText": "={{ $('Calcular nuevo presupuesto').item.json.mensaje }}",
        "options_message": {}
      },
      "id": "030cc18b-0af6-4d67-81fd-cca49e2d7974",
      "name": "Enviar cierre (Evolution)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1792,
        848
      ],
      "credentials": {
        "evolutionApi": {
          "id": "rGdgi31Sr5KvqJwd",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Día 1 de cada mes 8am": {
      "main": [
        [
          {
            "node": "Consultar ingresos activos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consultar regla distribución",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consultar gastos fijos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consultar compromisos TC del mes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consultar cierre mes anterior",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cuotas por terminar pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar ingresos activos": {
      "main": [
        [
          {
            "node": "Merge 1: Ingresos + Regla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar regla distribución": {
      "main": [
        [
          {
            "node": "Merge 1: Ingresos + Regla",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Consultar gastos fijos": {
      "main": [
        [
          {
            "node": "Merge 2: Gastos + Compromisos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar compromisos TC del mes": {
      "main": [
        [
          {
            "node": "Merge 2: Gastos + Compromisos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Consultar cierre mes anterior": {
      "main": [
        [
          {
            "node": "Merge 4: Cierre + Cuotas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuotas por terminar pronto": {
      "main": [
        [
          {
            "node": "Merge 4: Cierre + Cuotas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 1: Ingresos + Regla": {
      "main": [
        [
          {
            "node": "Merge 3: Combinar todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 2: Gastos + Compromisos": {
      "main": [
        [
          {
            "node": "Merge 3: Combinar todo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 3: Combinar todo": {
      "main": [
        [
          {
            "node": "Merge 5: Todo final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 4: Cierre + Cuotas": {
      "main": [
        [
          {
            "node": "Merge 5: Todo final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 5: Todo final": {
      "main": [
        [
          {
            "node": "Calcular nuevo presupuesto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular nuevo presupuesto": {
      "main": [
        [
          {
            "node": "Guardar presupuesto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar presupuesto": {
      "main": [
        [
          {
            "node": "Avanzar cuotas TC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Avanzar cuota préstamo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avanzar cuotas TC": {
      "main": [
        [
          {
            "node": "Cerrar cuotas terminadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerrar cuotas terminadas": {
      "main": [
        [
          {
            "node": "Esperar ambas ramas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avanzar cuota préstamo": {
      "main": [
        [
          {
            "node": "Esperar ambas ramas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Esperar ambas ramas": {
      "main": [
        [
          {
            "node": "Enviar cierre (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "15130087-cd17-448a-bd0e-7250872aa664",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b42fd32e6f340260e7c3102f964d10a6ec4faa1c313419e6f443ee442339754"
  },
  "id": "1KrVfT6YbZUQMud4",
  "tags": []
}