📈 Actualización de Inversiones (14hs).json
{
  "name": "📈 Actualización de Inversiones (14hs)",
  "nodes": [
    {
      "parameters": {
        "content": "## 📈 Actualización de Inversiones\n\nSe ejecuta a las 14:00 en días hábiles.\nPregunta a Luis si hubo cambios en el Fondo Juan.\nLa respuesta la procesa el flujo principal (Agente Financiero).",
        "height": 252,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        1216
      ],
      "typeVersion": 1,
      "id": "bbbed7e8-3ec5-47e4-9de9-073f899102f8",
      "name": "Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1472,
        976
      ],
      "id": "e533e4cd-7782-44db-b164-eb189c14605e",
      "name": "Todos los días 14:00"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Argentina/Buenos_Aires' }));\nconst dayOfWeek = now.getDay();\nconst esHabil = dayOfWeek >= 1 && dayOfWeek <= 5;\nreturn { esHabil, diaSemana: dayOfWeek };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        976
      ],
      "id": "fd80302c-f270-4ab7-85dd-405fdebc1f79",
      "name": "¿Es día hábil?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.esHabil }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        976
      ],
      "id": "87cfec12-83e4-4d36-a082-ec4729f1ff41",
      "name": "Si es hábil"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (SELECT b.saldo_actual\n     FROM finanzas_personales.billeteras b\n     JOIN finanzas_personales.tipos_billetera tb ON b.tipo_billetera_id = tb.id\n     WHERE tb.codigo = 'FONDO_JUAN' LIMIT 1),\n    0\n  ) AS saldo_actual,\n  (\n    SELECT hb.registrado_en\n    FROM finanzas_personales.billeteras b\n    JOIN finanzas_personales.tipos_billetera tb ON b.tipo_billetera_id = tb.id\n    LEFT JOIN finanzas_personales.historial_billeteras hb ON b.id = hb.billetera_id\n    WHERE tb.codigo = 'FONDO_JUAN'\n    ORDER BY hb.registrado_en DESC NULLS LAST\n    LIMIT 1\n  ) AS ultima_actualizacion;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        976
      ],
      "id": "04e35627-26e3-4f5c-8d54-b970f944839e",
      "name": "Obtener saldo actual",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MyAivaro",
        "remoteJid": "54XXXXXXXXXX",
        "messageText": "=📈 *Actualización de inversiones*\n\n¡Hola Luis! Ya cerraron los mercados.\n\n💰 Tu Fondo Juan está en:\n*${{ Number($json.saldo_actual).toLocaleString('es-AR') }}*\n\n¿Hubo cambios hoy? Si Juan te pasó actualización, escribime el nuevo saldo.\n\nEjemplo: _\"Hoy quedó en 4.700.000\"_",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2368,
        976
      ],
      "id": "4f58a3b2-5330-429b-b039-e47713560144",
      "name": "Preguntar actualización (Evolution)",
      "credentials": {
        "evolutionApi": {
          "id": "rGdgi31Sr5KvqJwd",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Todos los días 14:00": {
      "main": [
        [
          {
            "node": "¿Es día hábil?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es día hábil?": {
      "main": [
        [
          {
            "node": "Si es hábil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si es hábil": {
      "main": [
        [
          {
            "node": "Obtener saldo actual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener saldo actual": {
      "main": [
        [
          {
            "node": "Preguntar actualización (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f83261d6-e065-43db-92f1-637868e73ba5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b42fd32e6f340260e7c3102f964d10a6ec4faa1c313419e6f443ee442339754"
  },
  "id": "3Dw5E5kqUceP7TJq",
  "tags": []
}