📊 Resumen Semanal (Lunes).json
{
  "name": "📊 Resumen Semanal (Lunes)",
  "nodes": [
    {
      "parameters": {
        "content": "## 📊 Resumen Semanal\n\nSe ejecuta los Lunes a las 9am.\nUsa Evolution API - formato libre con saltos de línea.",
        "height": 200,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        2336
      ],
      "typeVersion": 1,
      "id": "259d2b43-62e3-42f6-8114-b113baf170d5",
      "name": "Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        944,
        3072
      ],
      "id": "47236b1b-21c8-436a-8c09-90b7dd66d26b",
      "name": "Lunes 9am"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tb.nombre as billetera, tb.codigo, b.saldo_actual as saldo, b.meta, CASE WHEN b.meta > 0 THEN ROUND((b.saldo_actual / b.meta) * 100, 1) ELSE NULL END as progreso_pct FROM finanzas_personales.billeteras b JOIN finanzas_personales.tipos_billetera tb ON b.tipo_billetera_id = tb.id ORDER BY tb.orden;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        2784
      ],
      "id": "8cf4039f-d20d-49ce-b408-ebc87a79ac6a",
      "name": "Consultar billeteras",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT anio_mes as mes, ingreso_total_usd, ingreso_total_ars as ingreso, tipo_cambio, presupuesto_necesidades, presupuesto_deseos, presupuesto_ahorro, gastado_necesidades, gastado_deseos, disponible_para_gastar as disponible, compromisos_tc FROM finanzas_personales.presupuesto_mensual WHERE anio_mes = TO_CHAR(CURRENT_DATE, 'YYYY-MM');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        2976
      ],
      "id": "6ce2fa0d-da39-4f8d-90e6-5ce21c1b9921",
      "name": "Consultar presupuesto mes",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tarjeta, descripcion, monto_cuota, cuota_actual, total_cuotas, (total_cuotas - cuota_actual) as cuotas_restantes FROM finanzas_personales.compromisos_tarjeta WHERE activo = TRUE ORDER BY fecha_fin;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        3168
      ],
      "id": "620e859e-aef9-4f20-8e11-381d28bc4ba7",
      "name": "Consultar compromisos TC",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fecha, patrimonio_neto as patrimonio_actual, LAG(patrimonio_neto) OVER (ORDER BY fecha) as patrimonio_anterior, patrimonio_neto - LAG(patrimonio_neto) OVER (ORDER BY fecha) as cambio FROM finanzas_personales.historial_patrimonio ORDER BY fecha DESC LIMIT 2;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        3360
      ],
      "id": "b85351a5-9ea4-46ce-a90c-b193127539ec",
      "name": "Consultar evolución patrimonio",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cg.nombre as categoria, SUM(gv.monto) as total FROM finanzas_personales.gastos_variables gv JOIN finanzas_personales.categorias_gasto cg ON gv.categoria_id = cg.id WHERE DATE_TRUNC('month', gv.fecha) = DATE_TRUNC('month', CURRENT_DATE) GROUP BY cg.nombre ORDER BY total DESC LIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        3552
      ],
      "id": "55992e16-b209-484d-b01d-bf4b81bb4fc1",
      "name": "Consultar gastos del mes",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1392,
        2880
      ],
      "id": "8eefa87d-68b6-4031-bd36-956973c3e242",
      "name": "Merge 1 (billeteras + presupuesto)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1392,
        3264
      ],
      "id": "8a5abe52-7950-41b3-8a64-529909927a83",
      "name": "Merge 2 (compromisos + patrimonio)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1616,
        3072
      ],
      "id": "c3bca231-4b52-4d17-aec5-521c79b1bc53",
      "name": "Merge 3 (todo junto)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1616,
        3456
      ],
      "id": "68347438-60e4-43a4-b5eb-768632277271",
      "name": "Merge 4 (+ gastos)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Agrupar correctamente evitando duplicados del combineAll\nconst billeterasMap = new Map();\nconst compromisosMap = new Map();\nconst gastosMesMap = new Map();\nlet presupuesto = null;\nlet patrimonio = null;\n\nfor (const item of items) {\n  const d = item.json;\n\n  // Billetera: tiene campo \"billetera\"\n  if (d.billetera && !billeterasMap.has(d.billetera)) {\n    billeterasMap.set(d.billetera, d);\n  }\n\n  // Presupuesto: tiene campo \"presupuesto_deseos\"\n  if (d.presupuesto_deseos !== undefined && presupuesto === null) {\n    presupuesto = d;\n  }\n\n  // Compromisos: tiene campo \"monto_cuota\"\n  if (d.monto_cuota !== undefined && d.descripcion) {\n    const key = `${d.descripcion}_${d.cuota_actual}_${d.total_cuotas}`;\n    if (!compromisosMap.has(key)) compromisosMap.set(key, d);\n  }\n\n  // Patrimonio: tiene campo \"patrimonio_actual\"\n  if (d.patrimonio_actual !== undefined && patrimonio === null) {\n    patrimonio = d;\n  }\n\n  // Gastos mes: tiene campo \"categoria\" y \"total\" pero NO \"monto_cuota\"\n  if (d.categoria && d.total !== undefined && d.monto_cuota === undefined) {\n    if (!gastosMesMap.has(d.categoria)) gastosMesMap.set(d.categoria, d);\n  }\n}\n\nconst billeteras = [...billeterasMap.values()];\nconst compromisosList = [...compromisosMap.values()];\nconst gastosMes = [...gastosMesMap.values()];\n\nconst fmt = n => Number(n || 0).toLocaleString('es-AR', { minimumFractionDigits: 0, maximumFractionDigits: 0 });\nconst totalBilleteras = billeteras.reduce((sum, b) => sum + Number(b.saldo || 0), 0);\nconst totalCuotas = compromisosList.reduce((sum, c) => sum + Number(c.monto_cuota || 0), 0);\n\nconst fecha = new Date().toLocaleDateString('es-AR', { weekday: 'long', day: 'numeric', month: 'long' });\nconst fechaCap = fecha.charAt(0).toUpperCase() + fecha.slice(1);\n\n// Tendencia patrimonio\nlet tendenciaTexto = '';\nif (patrimonio && patrimonio.cambio !== null) {\n  const cambio = Number(patrimonio.cambio);\n  const signo = cambio >= 0 ? '📈 +' : '📉 ';\n  tendenciaTexto = `${signo}$${fmt(Math.abs(cambio))} vs semana anterior`;\n} else {\n  tendenciaTexto = 'Primera semana registrada';\n}\n\n// Salud presupuesto\nlet saludMes = '';\nif (presupuesto) {\n  const gastadoPct = presupuesto.presupuesto_deseos > 0\n    ? Math.round((Number(presupuesto.gastado_deseos) / Number(presupuesto.presupuesto_deseos)) * 100)\n    : 0;\n  const diasMes = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate();\n  const diaActual = new Date().getDate();\n  const tiempoPct = Math.round((diaActual / diasMes) * 100);\n  const diff = gastadoPct - tiempoPct;\n  if (diff > 15) saludMes = '🔴 Gastos acelerados';\n  else if (diff > 0) saludMes = '🟡 Ritmo normal';\n  else saludMes = '🟢 Buen ritmo';\n}\n\n// Construir mensaje\nlet msg = '';\nmsg += `📊 *RESUMEN SEMANAL*\\n`;\nmsg += `📅 ${fechaCap}\\n`;\nmsg += `━━━━━━━━━━━━━━━━\\n\\n`;\n\n// BILLETERAS\nmsg += `💰 *BILLETERAS*\\n`;\nfor (const b of billeteras) {\n  const icono = b.codigo === 'FONDO_JUAN' ? '🏦' : b.codigo === 'FONDO_AUTO' ? '🚗' : '💵';\n  let linea = `${icono} ${b.billetera}: *$${fmt(b.saldo)}*`;\n  if (b.meta && b.progreso_pct) {\n    const barras = Math.floor(b.progreso_pct / 10);\n    const barra = '█'.repeat(barras) + '░'.repeat(10 - barras);\n    linea += `\\n   ${barra} ${b.progreso_pct}%`;\n  }\n  msg += linea + '\\n';\n}\nmsg += `💼 *Total: $${fmt(totalBilleteras)}*\\n`;\nmsg += `${tendenciaTexto}\\n\\n`;\n\n// PRESUPUESTO MES\nif (presupuesto) {\n  const disponible = Number(presupuesto.disponible);\n  const gastadoDeseos = Number(presupuesto.gastado_deseos || 0);\n  const presDeseos = Number(presupuesto.presupuesto_deseos);\n  const gastadoPct = presDeseos > 0 ? Math.round((gastadoDeseos / presDeseos) * 100) : 0;\n  const mesNombre = new Date().toLocaleDateString('es-AR', { month: 'long' }).toUpperCase();\n\n  msg += `📋 *PRESUPUESTO ${mesNombre}*\\n`;\n  msg += `💵 Ingreso: $${fmt(presupuesto.ingreso)} (TC $${fmt(presupuesto.tipo_cambio)})\\n`;\n  msg += `🏠 Necesidades: $${fmt(presupuesto.presupuesto_necesidades)}\\n`;\n  msg += `🎯 Deseos: $${fmt(presupuesto.presupuesto_deseos)}\\n`;\n  msg += `   Gastado: $${fmt(gastadoDeseos)} (${gastadoPct}%) ${saludMes}\\n`;\n  msg += `💎 Ahorro objetivo: $${fmt(presupuesto.presupuesto_ahorro)}\\n`;\n  msg += `💳 Cuotas TC: $${fmt(presupuesto.compromisos_tc)}\\n`;\n  const iconDisp = disponible >= 0 ? '✅' : '⚠️';\n  msg += `${iconDisp} *Libre para gastar: $${fmt(disponible)}*\\n\\n`;\n}\n\n// CUOTAS ACTIVAS\nif (compromisosList.length > 0) {\n  msg += `💳 *CUOTAS ACTIVAS (${compromisosList.length})*\\n`;\n  for (const c of compromisosList) {\n    msg += `• ${c.descripcion}: $${fmt(c.monto_cuota)}/mes (${c.cuota_actual}/${c.total_cuotas})\\n`;\n  }\n  msg += `Total: *$${fmt(totalCuotas)}/mes*\\n\\n`;\n}\n\n// GASTOS DEL MES POR CATEGORÍA\nif (gastosMes.length > 0) {\n  const totalGastado = gastosMes.reduce((sum, g) => sum + Number(g.total), 0);\n  msg += `🧾 *TOP GASTOS DEL MES*\\n`;\n  for (const g of gastosMes) {\n    const pct = Math.round((Number(g.total) / totalGastado) * 100);\n    msg += `• ${g.categoria}: $${fmt(g.total)} (${pct}%)\\n`;\n  }\n  msg += `\\n`;\n}\n\nmsg += `━━━━━━━━━━━━━━━━\\n`;\nmsg += `💡 _Consultame antes de gastar._`;\n\nreturn { mensaje: msg };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        3072
      ],
      "id": "1c94ad4e-5b6d-428c-a284-8593977c7987",
      "name": "Construir resumen"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MyAivaro",
        "remoteJid": "5493814690975",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2064,
        3072
      ],
      "id": "0fabc9ba-f9ee-4264-991b-f9834d07b88a",
      "name": "Enviar resumen (Evolution)",
      "credentials": {
        "evolutionApi": {
          "id": "rGdgi31Sr5KvqJwd",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO finanzas_personales.historial_patrimonio (fecha, fondo_juan, fondo_auto, operativo, total_activos, deuda_total, patrimonio_neto, notas)\nSELECT\n  CURRENT_DATE,\n  MAX(CASE WHEN tb.codigo = 'FONDO_JUAN' THEN b.saldo_actual END),\n  MAX(CASE WHEN tb.codigo = 'FONDO_AUTO' THEN b.saldo_actual END),\n  MAX(CASE WHEN tb.codigo = 'OPERATIVO' THEN b.saldo_actual END),\n  SUM(b.saldo_actual),\n  (SELECT COALESCE(SUM(monto_cuota * (total_cuotas - cuota_actual + 1)), 0) FROM finanzas_personales.compromisos_tarjeta WHERE activo = TRUE),\n  SUM(b.saldo_actual) - (SELECT COALESCE(SUM(monto_cuota * (total_cuotas - cuota_actual + 1)), 0) FROM finanzas_personales.compromisos_tarjeta WHERE activo = TRUE),\n  'Foto semanal automática'\nFROM finanzas_personales.billeteras b\nJOIN finanzas_personales.tipos_billetera tb ON b.tipo_billetera_id = tb.id\nON CONFLICT (fecha) DO UPDATE SET\n  fondo_juan = EXCLUDED.fondo_juan,\n  fondo_auto = EXCLUDED.fondo_auto,\n  operativo = EXCLUDED.operativo,\n  total_activos = EXCLUDED.total_activos,\n  deuda_total = EXCLUDED.deuda_total,\n  patrimonio_neto = EXCLUDED.patrimonio_neto;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2288,
        3072
      ],
      "id": "53c95a01-4e01-4b1a-b9bc-ef3e14a05637",
      "name": "Guardar foto patrimonio",
      "credentials": {
        "postgres": {
          "id": "c5vJmoXD1JooCpKG",
          "name": "BD Supabase"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lunes 9am": {
      "main": [
        [
          {
            "node": "Consultar billeteras",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consultar presupuesto mes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consultar compromisos TC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consultar evolución patrimonio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consultar gastos del mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar billeteras": {
      "main": [
        [
          {
            "node": "Merge 1 (billeteras + presupuesto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar presupuesto mes": {
      "main": [
        [
          {
            "node": "Merge 1 (billeteras + presupuesto)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Consultar compromisos TC": {
      "main": [
        [
          {
            "node": "Merge 2 (compromisos + patrimonio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar evolución patrimonio": {
      "main": [
        [
          {
            "node": "Merge 2 (compromisos + patrimonio)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 1 (billeteras + presupuesto)": {
      "main": [
        [
          {
            "node": "Merge 3 (todo junto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 2 (compromisos + patrimonio)": {
      "main": [
        [
          {
            "node": "Merge 3 (todo junto)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 3 (todo junto)": {
      "main": [
        [
          {
            "node": "Merge 4 (+ gastos)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar gastos del mes": {
      "main": [
        [
          {
            "node": "Merge 4 (+ gastos)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 4 (+ gastos)": {
      "main": [
        [
          {
            "node": "Construir resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir resumen": {
      "main": [
        [
          {
            "node": "Enviar resumen (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar resumen (Evolution)": {
      "main": [
        [
          {
            "node": "Guardar foto patrimonio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f1516ad6-45fe-4497-8fcd-7d7453386c69",
  "meta": {
    "instanceId": "3b42fd32e6f340260e7c3102f964d10a6ec4faa1c313419e6f443ee442339754"
  },
  "id": "WjFcFlo8MO8MXVue",
  "tags": []
}